<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part2/chapter12/sub-chapter1.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="from-development-to-deployment">
<h1><span class="section-number">12.1. </span>From Development to Deployment<a class="headerlink" href="#from-development-to-deployment" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p><em>Users are a terrible thing. Systems would be infinitely more stable without them.</em></p>
<p class="attribution">—Michael Nygard, Release It! (Nygard 2007)</p>
</div></blockquote>
<p>The moment a SaaS app is deployed, its behavior changes because it has actual users. If it
is a public-facing app, it is open to malicious attacks as well as accidental success, but
even private apps such as internal billing systems must be <em>designed for deployability and
monitorability</em> in order to ensure smooth deployment and operations. In addition, there are
necessarily differences between the environment in which you develop and test your app and
the environment in which it is deployed, and these differences can sometimes result in
unexpected (and usually undesirable) changes in app behavior between development and deployment
that your tests didn’t catch. Fortunately, as Figure 12.1 reminds us, deployment is part of
every iteration in the Agile lifecycle—indeed, many Agile SaaS companies deploy several times
<em>per day</em>—so you will quickly become practiced in “routine” deployments.</p>
<p>SaaS deployment is much easier than it used to be. Just a few years ago, SaaS developers had to
learn quite a bit about system administration in order to manage their own production servers.
For small sites they were typically hosted on shared Internet Service Providers (“managed-hosting
ISP”), on virtual machines running on shared hardware (Vir- tual Private Server or VPS), or on
one or more dedicated computers physically located at the ISP’s datacenter (“hosting service”).
Today, the horizontal scaling enabled by cloud computing (Section 12.2) has given rise to
companies like Heroku that provide a <strong>Platform as a Service</strong> (PaaS): a curated software stack
ready for you to deploy your app, with much of the administration and scaling responsibility
managed for you, making deployment much more developer-friendly. PaaS providers may either run
their own datacenters or, increasingly, rely
on lower-level Infrastructure as a Service (IaaS) providers such as the Amazon public cloud,
as Heroku does.</p>
<p>For early-stage and many mature SaaS apps, PaaS is now the preferred way to deploy: basic scaling
issues and performance tuning are handled for you by professional SaaS administrators who are
more experienced at operations than most developers. Of course, when a site becomes large enough
or popular enough, its technical needs may outgrow what PaaS can provide, or economics may
suggest bringing operations “in-house”, which as we will see is a major undertaking. Therefore
one goal of this chapter is to help your app stay within the PaaS-friendly usage tier for as
long as possible. Indeed, if your app is internally-facing, so that its maximum user base is
bounded and it runs in a more protected and less hostile environment than public-facing apps,
you may have the good fortune to stay in that tier in- definitely.</p>
<p>In general, though, performance, reliability, and security are systemwide concerns that must be
constantly reviewed, rather than problems to be solved once and then set aside. While PaaS helps
address some of these concerns, others must be confronted directly by the app developers, or
PaaS cannot help you. For example, as we will see, a key to managing the growth of your app
is controlling the demands placed on the database, which is harder to scale horizontally. One
insight of this chapter is that the performance and security problems you face are the same
for both small- and large-scale SaaS apps, but the solutions differ because PaaS providers
can be very helpful in solving some of the problems, saving you the work of a custom-built
solution.</p>
<p>Notwithstanding the title of this chapter, the terms <strong>performance</strong> and <strong>security</strong> are often
overused and ill defined. Here is a more focused list of key operational criteria we
will address.</p>
<ul class="simple">
<li><p>Responsiveness: How long do most users wait before the app delivers a useful response? (Section 12.3)</p></li>
<li><p>Release management: how can you deploy or upgrade your app “in place” without reducing availability and responsiveness? (Sections 12.4 and 12.4)</p></li>
<li><p>Availability: what percentage of the time is your app correctly serving requests? (Section 12.3)</p></li>
<li><p>Scalability: as the number of users increases, either gradually and permanently or as a one-time surge of popularity, can your app maintain its steady-state availability and responsiveness without increasing the operational cost per user? Chapter 3 noted that three-tier SaaS apps on cloud computing have excellent <em>potential</em> horizontal scalability, but good design alone doesn’t guarantee that your app will scale (though poor design guarantees that it won’t). Caching (Section 12.6) and avoiding abuse of the database (Section 12.7) can help.</p></li>
<li><p>Privacy: is important customer data accessible only to authorized parties, such as the data’s owner and perhaps the app’s administrators?</p></li>
<li><p>Authentication: can the app ensure that a given user is who they claim to be, by verifying a password or using third-party authentication such as Facebook Login or OpenID in such a way that an impostor cannot successfully impersonate another user without having obtained the user’s credentials?</p></li>
<li><p>Data integrity: can the app prevent customer data from being tampered with, or at least detect when tampering has occurred or data may have been compromised?</p></li>
</ul>
<p>The first three items in the above list might be collectively referred to as <em>performance</em>
<em>stability</em>, while the last three collectively address <em>security</em>, which Section 12.9 discusses.</p>
<p>Lastly, the opening of this section warned about unexpected problems due to differences between
development and production environments, or a lack of so-called <em>development–production parity</em>.
Because it is impossible to foresee and test every such possibility before deployment, the
alternative is to make deployment itself as agile as possible by relying heavily on automation.
If deployment of a new version of the software causes unexpected problems, how easily can you
“roll back” to the previous version? If a schema migration or data migration causes unexpected
problems, can you easily restore a database snapshot taken immediately before the migration was
run? A good rule of thumb for managing your production environment is to assume that any task
you need to do in that environment will fail the first time and will have to be repeated from
scratch. If the task was automated, you just type one line to re-run the script. If the task
consisted of manual steps, you must repeat the steps, which takes longer and is particularly
error-prone when you’re operating under the psychological pressure caused by having broken the
production server. More so than with any other aspect of SaaS, when it comes to deployment,
<em>automate everything</em>.</p>
<p><strong>Self-Check 12.1.1.</strong> <em>Which aspects of application scalability are not automatically handled
for you in a PaaS environment?</em></p>
<blockquote>
<div><p>If your app “outgrows” the capacity of the largest database offered by the PaaS provider, you
will need to manually build a solution to split it into multiple distinct databases. This task
is highly app-specific so PaaS providers cannot provide a generic mechanism to do it.</p>
</div></blockquote>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= chapter_path(chapter_id: 12) %>" title="previous page"><span class="section-number">12. </span>Dev/Ops</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 12, section_id: 2) %>" title="next page"><span class="section-number">12.2. </span>Three-Tier Architecture</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
