<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part1/chapter2/sub-chapter8.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="concluding-remarks-how-not-to-learn-a-language-by-googling">
<h1><span class="section-number">2.8. </span>Concluding Remarks: How (Not) To Learn a Language By Googling<a class="headerlink" href="#concluding-remarks-how-not-to-learn-a-language-by-googling" title="Permalink to this headline">¶</a></h1>
<p>Your authors will allow themselves a literary flourish and frame the advice in this section with two quotes.
The first is from Tom Knight, one of the principal designers of Lisp machines—research computers designed at MIT
to optimize running programs in the Lisp programming language.</p>
<blockquote>
<div><p>A novice was trying to fix a broken Lisp machine by turning the power off and on. Knight, seeing what the student was doing,
spoke sternly: “You cannot fix a machine by just power-cycling it with no understanding of what is going wrong.” Knight
turned the machine off and on. The machine worked.</p>
<p class="attribution">—“AI Koans” section of The New Hacker’s Dictionary</p>
</div></blockquote>
<p>To us, the above quote captures the perils of blindly copy-pasting code without understanding how it works: the code may appear
to work initially, but if you don’t know why, or if it breaks something else, you may get into trouble in the future, and you
certainly won’t learn much. While programmer Q&amp;A sites such as StackOverflow are invaluable for both asking questions and discovering
code snippets to perform specific tasks, your strategy should be to find a general <em>pattern</em> matching what you’re trying to do, then
once you fully understand how the found works, <em>adapt</em> it for your specific situation. In other words, search for <em>what, not how</em>.</p>
<p>The second quote is from the author of <em>The Cathedral and the Bazaar</em> (Raymond 2001), an early exposition of the potential advantages of open-source development:</p>
<blockquote>
<div><p>Ugly programs are like ugly suspension bridges: they’re much more liable to collapse than pretty ones, because the way humans (especially engineer-humans)
perceive beauty is intimately related to our ability to process and understand complexity. A language that makes it hard to write elegant code makes it
hard to write good code.</p>
<p class="attribution">—Eric S. Raymond</p>
</div></blockquote>
<p>Learning to use a new language and making the most of its idioms is a vital skill for software professionals. These are not easy tasks, but we hope that
focusing on unique and beautiful features in our exposition of Ruby and JavaScript will evoke intellectual curiosity rather than groans of resignation,
and that you will come to appreciate the value of wielding a variety of specialized tools and choosing the most productive one for each new job.</p>
<p>If this is your first exposure to Ruby, then functional programming and blocks in Ruby and closures in JavaScript may take some getting used to. But as
with any language, not learning to use the idioms properly may result in missing the opportunity to use a mechanism in the new language that might
provide a more beautiful solution.</p>
<p>Our advice is therefore to persevere in a new language until you’re comfortable with its idioms. Resist the temptation to “transliterate” your code from
other languages without first considering whether there’s a more idiomatic way to express what you need in the target language.</p>
<p>If you want to expand your “programming language cross training” program, we recommend <em>Seven Languages In Seven Weeks</em> (Tate 2010), which introduces the
reader to a set of languages that invite radically different ways of thinking about expressing programming tasks.</p>
<p>Finally, we recommend these resources for more detail on Ruby itself. Again, we assume that Ruby is not your first language and that this book and course
are not your first exposure to programming, so we omit references aimed at beginners.</p>
<ul class="simple">
<li><p>Programming Ruby and <em>The Ruby Programming Language</em> (Flanagan and Mat- sumoto 2008), co-authored by Ruby inventor Yukihiro “Matz” Matsumoto, are definitive references for Ruby.</p></li>
<li><p>The online documentation for Ruby gives details on the language, its classes, and its standard libraries. A few of the most useful classes include <code class="code docutils literal notranslate"><span class="pre">IO</span></code> (file and network I/O, including CSV files), <code class="code docutils literal notranslate"><span class="pre">Set</span></code> (collection operations such as set difference, set intersection, and so on), and <code class="code docutils literal notranslate"><span class="pre">Time</span></code> (the standard class for representing times, which we recommend over <code class="code docutils literal notranslate"><span class="pre">Date</span></code> even if you’re representing only dates without times). These are reference materials, not a tutorial.</p></li>
<li><p><em>Learning Ruby</em> (Fitzgerald 2007) takes a more tutorial-style approach to learning the language.</p></li>
<li><p><em>The Ruby Way</em> is an encyclopedic reference to both Ruby itself and how to use it id- iomatically to solve many practical programming problems.</p></li>
<li><p><em>Ruby Best Practices</em> (Brown 2009) focuses on how to make the best of Ruby’s “power tools” like blocks, modules/duck-typing, metaprogramming, and so on. If you want to write Ruby like a Rubyist, this is a great read.</p></li>
<li><p>Many newcomers to Ruby have trouble with yield, which has no equivalent in Java, C or C++ (although recent versions of Python and JavaScript do have similar mech- anisms). The <strong>coroutines</strong> article on Wikipedia gives good examples of the general coroutine mechanism that yield supports.</p></li>
</ul>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 2, section_id: 7) %>" title="previous page"><span class="section-number">2.7. </span>Fallacies and Pitfalls</a>
    <a class='right-next' id="next-link" href="<%= chapter_path(chapter_id: 3) %>" title="next page"><span class="section-number">3. </span>SaaS Application Architecture: Microservices, APIs, and REST</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
