<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part2/chapter7/sub-chapter5.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="agile-cost-estimation">
<h1><span class="section-number">7.5. </span>Agile Cost Estimation<a class="headerlink" href="#agile-cost-estimation" title="Permalink to this headline">¶</a></h1>
<p>Given that the Agile Manifesto values customer collaboration over contract negotiation, it is unsurprising that
it does <em>not</em> follow the plan-and-document approach of making a cost estimate and schedule for a given set of
features as part of bid to win a contract, as we shall see in Section 7.9). This section describes the process
at Pivotal Labs, which relies upon Agile development (Burkes 2012).</p>
<p>Because Pivotal does Agile, Pivotal never commits to delivering features X, Y, and Z by date D. Pivotal commits
to providing a certain amount of resources to work in the most efficient way possible up to date D. Along the way,
Pivotal needs the client to work with the project team to define priorities, and let Tracker’s velocity guide the
decisions as to which features actually make it into the release on date D.</p>
<p>A potential client first gets in contact with the Agile team. If it looks like a good fit for the Agile team, they
first do a 30 to 60 minute phone call telling potential clients what an engagement looks like, how it’s different
from other “outsourcing” agencies, what type of time commitment it will require on the customer’s part, and so on.
This first call makes clear that the Agile team works on a time and materials basis, not on a fixed bid basis, as is
usually the case with plan-and-document processes. The Agile team gets them to describe at a high
level what they want developed, what their current development process looks like, what their current staffing is, and so on.</p>
<p>If the clients are comfortable with what they heard, and the Agile team thinks it still sounds like a good fit, the clients
visit for what Pivotal calls a “scoping.” A scoping is a roughly 90 minute conversation with a potential client, preferably
in person. The Agile team asks the client to bring the person responsible for the product, a lead developer if they have one,
a designer if they have one, any existing designs for what they want built, and so on. Basically, the client representatives
bring whatever they think can clarify exactly what they want done, and the Agile team brings two engineers to the scoping.</p>
<p>During the scoping, the Agile team asks the client to describe what they want done in detail, and they ask a series of
questions designed to identify unknowns, risks, external integrations, and so forth. Essentially, the Agile team wants
to identify anything that would add uncertainty to the estimate that the Agile team will deliver. If the Agile team gets
a client with a very clear definition of what they want to build, a finished design, no external integrations, and so
on, the Agile team can produce a fairly tightly-scoped estimate, such as “20 to 22 weeks.” On the other hand, if they don’t
have clear product definition, lots of external integrations, or other uncertainty, the Agile team’s estimate will have a
greater range, such as “18 to 26 weeks.” If you use pair programming (see Section 2.2), as Pivotal Labs does, the cost
estimates would be in “pair weeks.”</p>
<p>After the client leaves the scoping, the Pivot engineers involved will stay behind for another 15 to 30 minutes, and
agree on an estimate in terms of weeks. They deliver their findings, which include the estimate, identification of risks,
and so on, to the sales staff, who then turn that into a proposal email to the client.</p>
<p>Because the Agile team does time and materials only, it’s easy to turn estimated weeks into an estimated range of expense.</p>
<p><strong>Self-Check 7.5.1.</strong> <em>True or False: As practitioners of Agile Development, Pivotal Labs does not use
contracts.</em></p>
<blockquote>
<div><p>False. Pivotal certainly offers customers a contract that they sign, but it is primarily a promise to pay Pivotal
for its best effort to make the customer happy over a limited range of time.</p>
</div></blockquote>
<p>With the already helpful role of user stories for measuring progress behind us, we introduce a tool that lets user stories play yet another important role.</p>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 7, section_id: 4) %>" title="previous page"><span class="section-number">7.4. </span>Points and Velocity</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 7, section_id: 6) %>" title="next page"><span class="section-number">7.6. </span>Cucumber: From User Stories to Acceptance Tests</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
