<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part1/chapter2/sub-chapter2.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="pair-programming">
<h1><span class="section-number">2.2. </span>Pair Programming<a class="headerlink" href="#pair-programming" title="Permalink to this headline">¶</a></h1>
<p><em>Interviewer: At Google, you share an office, and you even code
together.</em></p>
<p><em>Sanjay: We usually sit, and one of us is typing and the other is
looking on, and we’re chatting all the time about ideas, going back and forth.</em></p>
<blockquote>
<div><p>—Interview with Jeff Dean and Sanjay Ghemawat, creators of MapReduce (Hoffmann 2013)</p>
</div></blockquote>
<p>The name Extreme Programming (XP), which is the variant of the Agile lifecycle we follow in this book,
suggests a break from the way software was developed in the past. One
new option in this brave new software world is <strong>pair programming</strong>. The goal is improved software quality
by having more than one person developing the same code. But while pair programming emerged as a practice
used by Agile teams and developers, your authors believe it’s also a way to accelerate the learning of a
new language and framework. That is why we introduce it in this chapter, whose theme is <em>learning how to
learn</em> new languages and frameworks.</p>
<p>Although pair programming is properly considered a software engineering process rather than being associated
with a particular language, we introduce it here to encourage its use early, and especially while learning a
new language. As the name suggests, in pair program- ming two developers share one computer. Each takes on
a different role:</p>
<ul class="simple">
<li><p>The <em>driver</em> enters the code and thinks tactically about how to complete the current task, explaining his or her thoughts out loud as appropriate while typing.</p></li>
<li><p>The <em>observer or navigator—following</em> the automobile analogy more closely—reviews each line of code as it is typed in, and acts as a safety net for the driver. The observer is also thinking strategically about future problems that will need to be addressed, and makes suggestions to the driver.</p></li>
</ul>
<p>Normally a pair will take alternate driving and observing as they perform tasks. Figure 2.1, shows engineers
at Pivotal Labs—makers of Pivotal Tracker—who spend most of the day doing pair programming.(Moore 2011)</p>
<p>Pair programming is cooperative, and should involve a lot of talking. It focuses effort to the task at hand,
and two people working together increases the likelihood of following good development practices. If one partner
is silent or checking email, then it’s not pair programming, just two people sitting near each other.</p>
<p>Pair programming has the side effect of transferring knowledge between the pair, including programming idioms,
tool tricks, company processes, customer desires, and so on. Thus, to widen the knowledge base, some teams
purposely swap partners per task so that eventually everyone is paired together. For example, <em>promiscuous
pairing</em> of a team of four leads to six different pairings.</p>
<p>The studies of pair programming versus solo programming support the claim of reduced development time and
improvement in software quality. For example, (Cockburn and Williams 2001) found a 20% to 40% decrease in
time and that the initial code failed to 15% of the tests instead of 30% by solo programmers. However, it
took about 15% more hours collectively for the pair of programmers to complete the tasks versus the solo
programmers. The majority of professional programmers, testers, and managers with 10 years of experience at
Microsoft reported that pair programming worked well for them and produced higher-quality.(Begel and Nagappan
2008) A study of pair programming studies concludes that pair programming is quicker when programming task
2009) complexity is low—perhaps one point tasks on the Tracker scale—and yields code solutions of higher
2010) quality when task complexity is high, or three points on our Tracker scale. In both cases, it took
2011) more effort than do solo programmers.(Hannay et al. 2009)</p>
<p>The experience at Pivotal Labs suggests that these studies may not factor in the negative impact on productivity
of the distractions of our increasingly interconnected modern world: email, Twitter, Facebook, and so on. Pair
programming forces both programmers to pay attention to the task at hand for hours at a time. Indeed, new employees
at Pivotal Labs go home exhausted since they were not used to concentrating for such long stretches.</p>
<p>Even if pair programming takes more effort, one way to leverage the productivity gains from Agile and Rails is
to “spend” it on pair programming. Having two heads develop the code can reduce the time to market for new software
or improve quality of end product. We recommend you try pair programming to see if you like it, which some developers love.</p>
<p><strong>Self-Check 2.2.1.</strong> <em>True or False: Research suggests that pair programming is quicker and less expensive than
solo programming.</em></p>
<blockquote>
<div><p>False: While there have not been careful experiments that would satisfy human subject experts, and it is not clear
whether they account for the lack of distractions when pair program- ming, the current consensus of researchers
is that pair programming is more expensive—more programmer hours per tasks—than solo programming.</p>
</div></blockquote>
<p><strong>Self-Check 2.2.2.</strong> <em>True or False: A pair will eventually figure out who is the best driver and who is the best observer,
and then stick primarily to those roles.</em></p>
<blockquote>
<div><p>False: An effective pair will alternate between the two roles, as it’s more beneficial (and more fun) for the
individuals to both drive and observe.</p>
</div></blockquote>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 2, section_id: 1) %>" title="previous page"><span class="section-number">2.1. </span>Prelude: Learning to Learn Languages and Frameworks</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 2, section_id: 3) %>" title="next page"><span class="section-number">2.3. </span>Introducing Ruby,an Object-Oriented Language</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
