    
<div id="main-content" class="row">
    <div class="col-12 col-md-4 text-center">
    
        <%= image_tag "http://github.com/#{current_user.nickname}.png", width: "50%" %>
    </div>
    <div class="col-12 col-md-4 text-center">
        <h1><%= current_user.nickname %></h1>
    </div>
    <div class="col-12 col-md-2 text-center">
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" %>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-3 text-center"></div>
    <div class="col-12 col-md-6 text-center">
    <table class="table table-hover text-center" >
        <thead class="thead-light ">
            <tr>
                <th>Pages with Annotations/Highlights</th>
            </tr>
        </thead>
        <tbody>
            <% if @anno_nodes.empty? %>
                <tr><td>You have not made any annotations!</td></tr>
            <% else %>
                <% @anno_nodes.each do |x| %>
                    <tr>
                        <td><%= link_to x.title, x.link %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>
</div>
