<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="introducing-ecmascript">
<h1><span class="section-number">6.2. </span>Introducing ECMAScript<a class="headerlink" href="#introducing-ecmascript" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p><em>Stop me if you think you’ve heard this before.</em></p>
<p class="attribution">—variously attributed</p>
</div></blockquote>
<p>Our fast-paced introduction to JavaScript follows the same structure proposed in Section 2.1 and used in Section 2.3
to introduce Ruby. We’ll first review the things that are fairly standard about the language—syntax, types and names,
control flow, and so on, as Figure 6.2 summarizes. We then introduce the idioms that are central to using the language
but less common: prototypes, first-class functions, and higher-order functions. An excellent resource to lend depth
to this brief overview is the JavaScript documentation maintained by the Mozilla Developer Network.</p>
<p><strong>Types and typing.</strong> Almost everything is an object. There are only a few primitive (built-in) types: String, Number
(64-bit double precision floating point), <code class="code docutils literal notranslate"><span class="pre">undefined</span></code> (having no value), <code class="code docutils literal notranslate"><span class="pre">null</span></code> (a specific value different from <code class="code docutils literal notranslate"><span class="pre">undefined</span></code>),
Boolean (either <code class="code docutils literal notranslate"><span class="pre">true</span></code> or <code class="code docutils literal notranslate"><span class="pre">false</span></code>), and BigInt (rarely needed, for expressing integers of arbitrary magnitude that would
overflow the <code class="code docutils literal notranslate"><span class="pre">Number</span></code> type). There is a new <code class="code docutils literal notranslate"><span class="pre">Symbol</span></code> type (which behaves similar to Ruby’s).</p>
<p>The most important compound type is Object, which is a collection of unordered key/value pairs; the keys are called
<em>properties</em> or sometimes <em>slots</em>. JavaScript objects look and behave like Ruby hashes except that the property names must
be strings, although JavaScript syntax allows omitting quotes around those strings under some circumstances. Properties
can be added or removed after an object is created.</p>
<p>Finally, JavaScript has <code class="code docutils literal notranslate"><span class="pre">Array`s</span> <span class="pre">that</span> <span class="pre">can</span> <span class="pre">be</span> <span class="pre">indexed</span> <span class="pre">numerically,</span> <span class="pre">but</span> <span class="pre">they</span> <span class="pre">are</span> <span class="pre">actually</span> <span class="pre">implemented</span> <span class="pre">as</span> <span class="pre">objects</span> <span class="pre">(hashes)</span> <span class="pre">in</span>
<span class="pre">which</span> <span class="pre">there</span> <span class="pre">is</span> <span class="pre">a</span> <span class="pre">particular</span> <span class="pre">relationship</span> <span class="pre">between</span> <span class="pre">property</span> <span class="pre">names</span> <span class="pre">that</span> <span class="pre">are</span> <span class="pre">integers</span> <span class="pre">and</span> <span class="pre">the</span> <span class="pre">array’s</span> <span class="pre">:code:`length</span></code> property.</p>
<p><strong>Variables and Names.</strong> As in Ruby, variables don’t have types, but the objects they refer to do, so the same variable can
refer to objects of different types at different times (though that’s rarely a good idea). Variable names must start with
a letter, underscore, or dollar sign, and can also include digits, and idiomatically use <code class="code docutils literal notranslate"><span class="pre">UpperCamelCase</span></code> or <code class="code docutils literal notranslate"><span class="pre">lowerCamelCase</span></code>
naming. A variable declaration preceded by <code class="code docutils literal notranslate"><span class="pre">var</span></code> or <code class="code docutils literal notranslate"><span class="pre">let</span></code> declares and optionally initializes the variable, as in <code class="code docutils literal notranslate"><span class="pre">var</span> <span class="pre">s=&quot;Hello</span> <span class="pre">world&quot;</span></code>,
and sets the scope of that variable to be its enclosing block. Unlike Ruby, but like C, JavaScript allows blocks of code
to be nested; a variable declared with var is visible to blocks nested inside the one in which it’s declared, whereas a
variable declared with let is not. If your functions are short (as Chapter 9.5 suggests)</p>
<p>Functions are closures that carry their environment around with them, allowing them to execute properly at a different place
and time than where they were defined. Just as anonymous blocks <code class="code docutils literal notranslate"><span class="pre">(do...end)</span></code> are ubiquitous in Ruby, anonymous functions
<code class="code docutils literal notranslate"><span class="pre">(function()</span> <span class="pre">{...})</span></code> are ubiquitous in JavaScript. Classes and types matter even less than they do in Ruby—in fact, despite
the syntactic appearance of much JavaScript code in the wild, JavaScript does not have classes that behave the way they
would in class-oriented OO languages like Ruby and Java, despite the appearance of the new class keyword in ECMAScript 6.</p>
<p>Figure 6.2 shows JavaScript’s basic syntax and constructs, which should look familiar to Java and Ruby programmers. The
Fallacies &amp; Pitfalls section describes several JavaScript pitfalls associated with the figure; read them carefully after
you’ve finished this chapter, or you may find yourself banging your head against one of JavaScript’s unfortunate misfeatures
or a JavaScript mechanism that looks and works almost but not quite like its Ruby counterpart. For example, whereas Ruby
uses nil to mean both “undefined” (a variable that has never been given a value) and “empty” (a value that is always false),
JavaScript’s null is distinct from its <code class="code docutils literal notranslate"><span class="pre">undefined</span></code>, which is what you get as the “value” of a variable that has never been
initialized.</p>
<p>As the first row of Figure 6.2 shows, JavaScript’s fundamental type is the <code class="code docutils literal notranslate"><span class="pre">object</span></code>, an
unordered collection of key/value pairs, or as they are called in JavaScript, <em>properties</em> or <em>slots</em>. The name of a
property can be any string, including the empty string. The value of a property can be any JavaScript expression,
including another object; it cannot be undefined.</p>
<div class="highlight-javascript notranslate"><div class="highlight"><pre><span></span><span class="kd">let</span> <span class="nx">potatoReview</span> <span class="o">=</span>
<span class="p">{</span>
    <span class="s2">&quot;potatoes&quot;</span><span class="o">:</span> <span class="mf">5</span><span class="p">,</span>
    <span class="s2">&quot;reviewer&quot;</span><span class="o">:</span> <span class="s2">&quot;armandofox&quot;</span><span class="p">,</span>
    <span class="s2">&quot;movie&quot;</span><span class="o">:</span> <span class="p">{</span>
        <span class="s2">&quot;title&quot;</span><span class="o">:</span> <span class="s2">&quot;Casablanca&quot;</span><span class="p">,</span>
        <span class="s2">&quot;description&quot;</span><span class="o">:</span> <span class="s2">&quot;Casablanca is a classic and iconic film starring ...&quot;</span><span class="p">,</span>
        <span class="s2">&quot;rating&quot;</span><span class="o">:</span> <span class="s2">&quot;PG&quot;</span><span class="p">,</span>
        <span class="s2">&quot;release_date&quot;</span><span class="o">:</span> <span class="s2">&quot;1942-11-26T07:00:00Z&quot;</span>
    <span class="p">}</span>
<span class="p">};</span>
<span class="nx">potatoReview</span><span class="p">[</span><span class="s1">&#39;potatoes&#39;</span><span class="p">]</span> <span class="c1">// =&gt; 5</span>
<span class="nx">potatoReview</span><span class="p">[</span><span class="s1">&#39;movie&#39;</span><span class="p">].</span><span class="nx">title</span> <span class="c1">// =&gt; &quot;Casablanca&quot;</span>
<span class="nx">potatoReview</span><span class="p">.</span><span class="nx">movie</span><span class="p">.</span><span class="nx">title</span> <span class="c1">// =&gt; &quot;Casablanca&quot;</span>
<span class="nx">potatoReview</span><span class="p">[</span><span class="s1">&#39;movie&#39;</span><span class="p">][</span><span class="s1">&#39;title&#39;</span><span class="p">]</span> <span class="c1">// =&gt; &quot;Casablanca&quot;</span>
<span class="nx">potatoReview</span><span class="p">[</span><span class="s1">&#39;blah&#39;</span><span class="p">]</span> <span class="c1">// =&gt; undefined</span>
</pre></div>
</div>
<p>JavaScript allows you to express <em>object literals</em> by specifying their properties and values directly, as Figure 6.3 shows.
This simple object-literal syntax is the basis of <strong>JSON</strong>, or JavaScript Object Notation, which we introduced in Section 3.6.
Despite its name, JSON has become a language-independent way to represent data that can be exchanged between SaaS services
or between a SaaS client and server. In fact, lines 2–11 in the figure (minus the trailing semicolon on line 11) are a
legal JSON representation. Officially, each property value in a JSON object can be a <code class="code docutils literal notranslate"><span class="pre">Number</span></code>, Unicode <code class="code docutils literal notranslate"><span class="pre">String</span></code>, Boolean
(<code class="code docutils literal notranslate"><span class="pre">true</span></code> or <code class="code docutils literal notranslate"><span class="pre">false</span></code> are the only possible values), <code class="code docutils literal notranslate"><span class="pre">null</span></code> (empty value), or a nested <code class="code docutils literal notranslate"><span class="pre">Object</span></code> recursively defined. Unlike full
JavaScript, though, in the JSON representation of an object all strings <em>must</em> be quoted, so the example in the top row
of Figure 6.2 would need quotes around the word <code class="code docutils literal notranslate"><span class="pre">title</span></code> to comply with JSON syntax. Figure 6.4 summarizes a variety of
tools for checking the syntax and style of both JavaScript code and JavaScript-related data structures and protocols
that we’ll meet in the rest of this chapter.</p>
<p>The fact that a JavaScript object can have function-valued properties is used by well-engineered libraries to collect
all their functions and variables into a single <strong>namespace</strong>. For example, as we’ll see in Section 6.4, jQuery defines a
single global variable jQuery through which all features of the jQuery library are accessed, rather than littering the
global namespace with the many objects in the library. We will follow a similar practice by defining a small number of
global variables to encapsulate all our JavaScript code.</p>
<p>The term <em>client-side JavaScript</em> refers specifically to JavaScript code that is associated with HTML pages and therefore
runs in the browser. Each page in your app that wants to use JavaScript functions or variables must include the necessary
JavaScript code itself. The recommended and unobtrusive way to do this is using a <code class="code docutils literal notranslate"><span class="pre">script</span></code> tag referencing the file containing
the code, as Figure 6.5 shows. The Rails view helper <code class="code docutils literal notranslate"><span class="pre">javascript_include_tag</span> <span class="pre">’application’</span></code>, which generates the above tag,
can be placed in your <code class="code docutils literal notranslate"><span class="pre">app/views/layouts/application.html.erb</span></code> or other layout template
that is part of every page served by your app. If you then place your code in one or more separate <code class="code docutils literal notranslate"><span class="pre">.js</span></code> files in
<code class="code docutils literal notranslate"><span class="pre">app/assets/javascripts</span></code>, when you deploy to production Rails will do the following steps automatically:</p>
<ol class="arabic simple">
<li><p>Concatenate the contents of all JavaScript files in this directory;</p></li>
<li><p>Compress the result by removing blank space and performing other simple transformations (the <code class="code docutils literal notranslate"><span class="pre">uglifier</span></code> gem);</p></li>
<li><p>Place the result in a single large file in the <code class="code docutils literal notranslate"><span class="pre">public</span></code> subdirectory that will be served directly by the presentation tier with no Rails intervention;</p></li>
<li><p>Adjust the URLs emitted by <code class="code docutils literal notranslate"><span class="pre">javascript_include_tag</span></code> so that the user’s browser loads not only your own JavaScript files but also the jQuery library.</p></li>
</ol>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;/public/javascripts/application.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
</pre></div>
</div>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;&lt;</span><span class="nt">title</span><span class="p">&gt;</span>Update Address<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
        <span class="c">&lt;!-- BAD: embedding scripts directly in page, esp. in body --&gt;</span>
        <span class="p">&lt;</span><span class="nt">script</span><span class="p">&gt;</span>
        <span class="c">&lt;!--</span> <span class="c1">// BAD: &quot;hide&quot; script body in HTML comment</span>
            <span class="c1">// (modern browsers may not see script at all)</span>
        <span class="kd">function</span> <span class="nx">checkValid</span><span class="p">()</span> <span class="p">{</span> <span class="c1">// BAD: checkValid is global</span>
            <span class="k">if</span> <span class="o">!</span><span class="p">(</span><span class="nx">fieldsValid</span><span class="p">(</span><span class="nx">getElementById</span><span class="p">(</span><span class="s1">&#39;addr&#39;</span><span class="p">)))</span> <span class="p">{</span>
            <span class="c1">// BAD: &gt; and &lt; may confuse browser&#39;s HTML parser</span>
            <span class="nx">alert</span><span class="p">(</span><span class="s1">&#39;&gt;&gt;&gt; Please fix errors &amp; resubmit. &lt;&lt;&lt;&#39;</span><span class="p">);</span>
        <span class="p">}</span>
        <span class="c1">// BAD: &quot;hide&quot; end of HTML comment (l.3) in JS comment: --&gt;</span>
        <span class="p">&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
        <span class="c">&lt;!-- BAD: using HTML attributes for JS event handlers --&gt;</span>
        <span class="p">&lt;</span><span class="nt">form</span> <span class="na">onsubmit</span><span class="o">=</span><span class="s">&quot;return checkValid()&quot;</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;addr&quot;</span> <span class="na">action</span><span class="o">=</span><span class="s">&quot;/update&quot;</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">input</span> <span class="na">onchange</span><span class="o">=</span><span class="s">&quot;RP.filter_adult&quot;</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;checkbox&quot;</span><span class="p">/&gt;</span>
            <span class="c">&lt;!-- BAD: URL using &#39;javascript:&#39; --&gt;</span>
            <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;javascript:back()&quot;</span><span class="p">&gt;</span>Go Back<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">form</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</pre></div>
</div>
<p>This automatic behavior, supported by modern production environments including Heroku, is called the <em>asset
pipeline</em>. Described more fully in this guide, the asset pipeline also allows us to use languages like
CoffeeScript, as we’ll see later. You might think it wasteful for the user’s browser to load a single enormous
JavaScript file, especially if only a few pages in your app use JavaScript and any given page only uses a small
subset of your JavaScript code. But the user’s browser only loads the large file once and then caches it until
you redeploy your app with changed .js files. Also, in development mode, the asset pipeline skips the “precompilation”
process and just loads each of the JavaScript files separately, since they’re likely to be changing frequently while
you’re developing.</p>
<p><strong>Self-Check 6.2.1.</strong> <em>Is every valid JSON object parsable by JavaScript? If not, give an example of
one that isn’t.</em></p>
<blockquote>
<div><p>Yes, every valid JSON object is a valid JavaScript object. Whereas JSON requires quotes around every slot name,
JavaScript sometimes does and sometimes doesn’t, but it is always safe to use quotes.</p>
</div></blockquote>
<p><strong>Self-Check 6.2.2.</strong> <em>If we make sure to put slot names in quotes, is every valid JavaScript object a valid JSON
object? If not, give an example of one that isn’t.</em></p>
<blockquote>
<div><p>No, even if all the slot names are quoted, some JavaScript objects are <em>not</em> valid JSON. For example, if one of
the object’s slots is a function, that object would not be valid JSON, since JSON slot values are limited to
simple types (numbers, strings, Booleans) and collections (arrays or other JSON objects).</p>
</div></blockquote>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 6, section_id: 1) %>" title="previous page"><span class="section-number">6.1. </span>JavaScript: The Big Picture</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 6, section_id: 3) %>" title="next page"><span class="section-number">6.3. </span>Classes, Functions and Constructors</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
