    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="chips-rails-intro">
<h1><span class="section-number">5.3. </span>CHIPS: Rails Intro<a class="headerlink" href="#chips-rails-intro" title="Permalink to this headline">¶</a></h1>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 5, section_id: 2) %>" title="previous page"><span class="section-number">5.2. </span>Single Sign-On and Third-Party Authentication</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 5, section_id: 4) %>" title="next page"><span class="section-number">5.4. </span>Associations and Foreign Keys</a>

        </div>
        
        </div>
    </div>
