<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part2/chapter8/sub-chapter3.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="isolating-code-doubles-and-seams">
<h1><span class="section-number">8.3. </span>Isolating Code: Doubles and Seams<a class="headerlink" href="#isolating-code-doubles-and-seams" title="Permalink to this headline">¶</a></h1>
<p>Unit tests can be more complex if the SUT is either not a leaf method or not a pure function. We can distinguish three cases:</p>
<ul class="simple">
<li><p>The SUT has one or more <em>depended-on components</em> (DOCs), such as other methods it calls to help do its work. Test cases should isolate the SUT from those dependencies.</p></li>
<li><p>The SUT has side effects when executed, that is, it causes a change in application state visible outside the test code itself. Test cases should verify that the correct side effect occurred, which involves inspecting app state outside the SUT.</p></li>
<li><p>The SUT is not a pure function because its output depends not only on its input but other implicit factors, such as the time of day or a random event. Test cases should control the values of these factors to force the SUT to traverse predictable code paths.</p></li>
</ul>
<p>There are two characteristics of a method that can complicate the task of creating unit tests for it. The first is
that it has side effects The second is that it has dependencies—it calls other methods as part of doing its job.</p>
<p>As an example, consider testing a controller action. By design, as we have seen, controller actions shouldn’t contain
“business logic”—instead they manage communication with
the model, calling model methods to do the real work and setting up variables to display information in the view. To
make our example relevant to SaaS, consider a hypothetical SaaS app that allows the user to look up a movie in another
service’s movie database, and display the movie info so the user can write a review. Here is how our hypothetical app works:</p>
<ol class="arabic simple">
<li><p>The <code class="code docutils literal notranslate"><span class="pre">Movie</span></code> model has a class (static) method <code class="code docutils literal notranslate"><span class="pre">find_in_tmdb</span></code> that makes a call to the API of the external service The Movie Database (TMDb) and returns an array of <code class="code docutils literal notranslate"><span class="pre">Movie</span></code> objects, which may be empty if there were no matches.</p></li>
<li><p>If there are no matches, the controller action should redirect the user back to the search page with an appropriate message.</p></li>
<li><p>If there is exactly one match, the controller should render a view that allows the user to enter a review for that movie.</p></li>
<li><p>Ifthereismorethanonematch,thecontrollershouldrenderadifferentviewthatallows the user to specify which movie they want to review.</p></li>
<li><p>Because the model method relies on calling an external service, the call might fail if the service doesn’t respond for some reason. In that case, we assume <code class="code docutils literal notranslate"><span class="pre">Movie.find_in_tmdb</span></code> will raise the exception <code class="code docutils literal notranslate"><span class="pre">Movie::ConnectionError</span></code>.</p></li>
</ol>
<p>Figure 8.4 shows what the above controller action might look like.</p>
<div class="highlight-ruby notranslate"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">MoviesController</span> <span class="o">&lt;</span> <span class="no">ApplicationController</span>
    <span class="k">def</span> <span class="nf">review_movie</span>
        <span class="n">search_string</span> <span class="o">=</span> <span class="n">params</span><span class="o">[</span><span class="ss">:search</span><span class="o">]</span>
        <span class="k">begin</span>
        <span class="n">matches</span> <span class="o">=</span> <span class="no">Movie</span><span class="o">.</span><span class="n">find_in_tmdb</span><span class="p">(</span><span class="n">search_string</span><span class="p">)</span>
        <span class="k">if</span> <span class="n">matches</span><span class="o">.</span><span class="n">empty?</span> <span class="c1"># nothing was found</span>
            <span class="n">redirect_to</span> <span class="n">review_movie_path</span><span class="p">,</span> <span class="ss">:alert</span> <span class="o">=&gt;</span> <span class="s2">&quot;No matches.&quot;</span>
        <span class="k">elsif</span> <span class="n">matches</span><span class="o">.</span><span class="n">length</span> <span class="o">==</span> <span class="mi">1</span>
            <span class="vi">@movie</span> <span class="o">=</span> <span class="n">matches</span><span class="o">[</span><span class="mi">0</span><span class="o">]</span>
            <span class="n">render</span> <span class="s1">&#39;review_movie&#39;</span>
        <span class="k">else</span> <span class="c1"># more than 1 match</span>
            <span class="vi">@movies</span> <span class="o">=</span> <span class="n">matches</span>
            <span class="n">render</span> <span class="s1">&#39;select_movie&#39;</span>
        <span class="k">end</span>
        <span class="k">rescue</span> <span class="no">Movie</span><span class="o">::</span><span class="no">ConnectionError</span> <span class="o">=&gt;</span> <span class="n">err</span>
        <span class="n">redirect_to</span> <span class="n">review_movie_path</span><span class="p">,</span> <span class="ss">:alert</span> <span class="o">=&gt;</span> <span class="s2">&quot;Error contacting TMDb: </span><span class="si">#{</span><span class="n">err</span><span class="o">.</span><span class="n">message</span><span class="si">}</span><span class="s2">&quot;</span>
        <span class="k">end</span>
    <span class="k">end</span>
<span class="k">end</span>
</pre></div>
</div>

<figure>
  <figcaption>
  Figure 8.4: A simple controller method that tries to search a remote database for one or more matches to a movie title. The
call to the remote service happens from within the find_in_tmdb class method.
  </figcaption>
</figure>

<p>How would we unit-test this controller action? The Arrange step consists of preparing <code class="code docutils literal notranslate"><span class="pre">params</span></code>
to hold some search string. The Act step consists of calling the controller action with that
search string. But the Assert step depends on whether the call to <code class="code docutils literal notranslate"><span class="pre">find_in_tmdb</span></code> returns an
empty array, an array of exactly one match, an array containing more than one match, or
raises an exception because of an error communicating with The Movie Database. Indeed, as
items 2–5 in the list above show, there are really four test cases required here, and to
test each of them, we essentially need to be able to control the <em>behavior of the call</em> to
<code class="code docutils literal notranslate"><span class="pre">find_in_tmdb</span></code>.</p>
<div class="highlight-ruby notranslate"><div class="highlight"><pre><span></span><span class="n">describe</span> <span class="no">MoviesController</span> <span class="k">do</span>
    <span class="n">describe</span> <span class="s1">&#39;looking up movie&#39;</span> <span class="k">do</span>
        <span class="n">it</span> <span class="s1">&#39;redirects to search page if no match&#39;</span> <span class="k">do</span>
        <span class="n">allow</span><span class="p">(</span><span class="no">Movie</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:find_in_tmdb</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span> <span class="o">[]</span> <span class="p">)</span>
        <span class="n">post</span> <span class="s1">&#39;review_movie&#39;</span><span class="p">,</span> <span class="p">{</span><span class="s1">&#39;search_string&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;I Am Big Bird&#39;</span><span class="p">}</span>
        <span class="n">expect</span><span class="p">(</span><span class="n">response</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">redirect_to</span><span class="p">(</span><span class="n">review_movie_path</span><span class="p">)</span>
        <span class="k">end</span>
    <span class="k">end</span>
<span class="k">end</span>
</pre></div>
</div>

<figure>
  <figcaption>
  Figure 8.5: This RSpec example (test case) stubs Movie.find_in_tmdb to isolate the controller action from its
collaborators for the purposes of unit testing.
  </figcaption>
</figure>

<p>Michael Feathers (Feathers 2004) defines a seam as “a place where you can alter
behavior in your program without editing in that place.” In our case, we want to
alter (control) the behavior of <code class="code docutils literal notranslate"><span class="pre">find_in_tmdb</span></code> but without changing the source code
of the controller action. Recall that one ability afforded by metaprogramming is
being able to modify code while a program is running. In this case, the strategy
would be to <em>temporarily</em> modify <code class="code docutils literal notranslate"><span class="pre">find_in_tmdb</span></code> so that <em>instead of calling the real method,
it calls a “fake” method whose behavior we control</em> and can change for each test case.</p>
<p>Such a construction is called a <strong>method stub</strong>, and is easy to implement in languages that
support metaprogramming. The RSpec testing framework provides direct support for this,
as Figure 8.5 shows: the Arrange part of a test now includes setting up a stub for the
method, and specifying that when the stub is called, it should return an empty array,
ensuring that <code class="code docutils literal notranslate"><span class="pre">matches.empty?</span></code> in line 6 of Figure 8.4 will be true, causing line 7 to
be executed next. As is typical for a testing framework, RSpec “un-registers” any stubs
after each example (test case), making the stub visible only to that test case and thereby
keeping tests <strong>I</strong>ndependent. Later we will show how to group together sets of examples that
rely on the same precondition setup, so that tests can be DRY as well.</p>
<p>Keeping in mind that every Ruby function call is a method call on an object, line 4 of
Figure 8.5 can be read as follows: “Allow the <code class="code docutils literal notranslate"><span class="pre">Movie</span></code> class (which is itself an object) to
receive a call to its (class) method <code class="code docutils literal notranslate"><span class="pre">find_in_tmdb</span></code>, and return an empty array as the return
value of that call.” Note that it is <em>not an error</em> for <code class="code docutils literal notranslate"><span class="pre">find_in_tmdb</span></code> not to be called: the
stub setup only specifies what should happen <em>if</em> that method is called. If we wanted to
express the test condition that the method <em>must</em> be called, we would replace <code class="code docutils literal notranslate"><span class="pre">allow</span></code> with
<code class="code docutils literal notranslate"><span class="pre">expect</span></code>. In that case, line 4 would be both an Arrange step defining a stub and an Assert
step specifying that the test should fail if the stub isn’t actually called. RSpec
automatically verifies <code class="code docutils literal notranslate"><span class="pre">expect...to</span> <span class="pre">receive</span></code> assertions at the end of each example, so the
test wouldn’t need an extra line to check if the stub was called—simply using <code class="code docutils literal notranslate"><span class="pre">expect</span></code>
rather than <code class="code docutils literal notranslate"><span class="pre">allow</span></code> to set up the stub distinguishes the two cases.</p>
<p>In this case, <code class="code docutils literal notranslate"><span class="pre">receive()</span></code> creates a seam by overriding a method in place, without us having to
edit the file containing the original method (although in this case, the original method
doesn’t even exist yet). Seams are also important when it comes to adding new code to your
application, but in the rest of this chapter we will see many more examples of seams in
testing. Seams are useful in testing because they let us break dependencies between a piece
of code we want to test and its collaborators, allowing the collaborators to behave differently
under test than they would in real life.</p>

<figure>
  <%= image_tag "Chapter8/8.6.jpg", class:"center", alt: "8.6" %>
  <figcaption>
  Figure 8.6: Strategy to properly isolate the SUT when it is not a pure function, not a leaf method, or both.
  </figcaption>
</figure>

<p>The kind of seam we just described is called a <strong>method stub</strong> or simply <em>stub</em>, because it is a
piece of code that replaces the real method’s code with a controllable or fixed behavior
for testing purposes. A <strong>mock object</strong> or simply <em>mock</em> is a simplified “stunt double” of an object
that can only mimic a few fixed behaviors of the object, such as returning fixed values for
specific attributes. Mocks are useful when a real object would be complex to instantiate
because it has other dependencies, yet only a few specific properties of the object are
necessary for the SUT to work properly. The term <strong>test double</strong> generically covers these and a
few other types of seams. Figure 8.6 summarizes typical strategies for using these doubles in
various unit-testing scenarios, and Figure 8.7 shows examples of each strategy using RSpec.</p>

<div class="highlight-ruby notranslate"><div class="highlight"><pre><span></span><span class="c1"># 1. Pure leaf function: test critical values and noncritical regions</span>
<span class="n">it</span> <span class="s1">&#39;occurs when multiple of 4 but not 100&#39;</span> <span class="k">do</span>
    <span class="n">expect</span><span class="p">(</span><span class="n">leap?</span><span class="p">(</span><span class="mi">2008</span><span class="p">))</span><span class="o">.</span><span class="n">to</span> <span class="n">be_truthy</span>
    <span class="k">end</span>
<span class="n">it</span> <span class="s1">&#39;does not occur when multiple of 400&#39;</span> <span class="k">do</span>
    <span class="n">expect</span><span class="p">(</span><span class="n">leap?</span><span class="p">(</span><span class="mi">2000</span><span class="p">))</span><span class="o">.</span><span class="n">to</span> <span class="n">be_falsy</span>
<span class="k">end</span>

<span class="c1"># 2. Using doubles for explicit dependencies such as collaborators</span>
<span class="c1">#    UI.background() calls Defcon.level() to determine display color</span>
<span class="n">it</span> <span class="s1">&#39;colors the UI red if Defcon is 2 or lower&#39;</span> <span class="k">do</span>
    <span class="c1"># Arrange: stub Defcon to return 2</span>
    <span class="n">allow</span><span class="p">(</span><span class="no">Defcon</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:level</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="mi">2</span><span class="p">)</span>
    <span class="n">expect</span><span class="p">(</span><span class="no">UI</span><span class="o">.</span><span class="n">background</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">eq</span><span class="p">(</span><span class="s1">&#39;red&#39;</span><span class="p">)</span>        <span class="c1"># Act and Assert</span>
<span class="k">end</span>

<span class="c1"># 3. Has implicit dependencies such as time</span>
<span class="n">it</span> <span class="s1">&#39;runs backups on Tuesdays&#39;</span> <span class="k">do</span>
    <span class="c1"># Arrange: stub Date.today to return Tues 2020-02-04</span>
    <span class="n">allow</span><span class="p">(</span><span class="no">Date</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:today</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="no">Time</span><span class="o">.</span><span class="n">local</span><span class="p">(</span><span class="mi">2020</span><span class="p">,</span><span class="mi">2</span><span class="p">,</span><span class="mi">4</span><span class="p">))</span>
    <span class="n">expect</span><span class="p">(</span><span class="n">run_backups_today?</span><span class="p">())</span><span class="o">.</span><span class="n">to</span> <span class="n">be_truthy</span>  <span class="c1"># Act and Assert</span>
<span class="k">end</span>

<span class="c1"># 4. Has side effects (verbose version)</span>
<span class="n">it</span> <span class="s1">&#39;lowers Defcon level by 1&#39;</span> <span class="k">do</span>
    <span class="c1"># Arrange: check previous value of state</span>
    <span class="n">before</span> <span class="o">=</span> <span class="no">Defcon</span><span class="o">.</span><span class="n">level</span><span class="p">()</span>
    <span class="n">post_alert</span><span class="p">(</span><span class="s2">&quot;Hostile craft detected&quot;</span><span class="p">)</span>    <span class="c1"># Act</span>
    <span class="n">expect</span><span class="p">(</span><span class="no">Defcon</span><span class="o">.</span><span class="n">level</span><span class="p">())</span><span class="o">.</span><span class="n">to</span> <span class="n">eq</span><span class="p">(</span><span class="n">before</span> <span class="o">-</span> <span class="mi">1</span><span class="p">)</span> <span class="c1"># Asset</span>
<span class="k">end</span>

<span class="c1"># Shortcut version passing a callable to `expect`</span>
<span class="n">it</span> <span class="s1">&#39;lowers Defcon level by 1&#39;</span> <span class="k">do</span>
    <span class="n">expect</span> <span class="p">{</span> <span class="n">post_alert</span><span class="p">(</span><span class="s2">&quot;Hostile craft detected&quot;</span><span class="p">)</span> <span class="p">}</span><span class="o">.</span>
        <span class="n">to</span> <span class="n">change</span> <span class="p">{</span> <span class="no">Defcon</span><span class="o">.</span><span class="n">level</span><span class="p">()</span> <span class="p">}</span><span class="o">.</span><span class="n">by</span><span class="p">(</span><span class="o">-</span><span class="mi">1</span><span class="p">)</span>
<span class="k">end</span>
</pre></div>
</div>

<figure>
  <figcaption>
  Figure 8.7: RSpec examples corresponding to Figure 8.6.
  </figcaption>
</figure>

<p><strong>Self-Check 8.3.1.</strong> <em>Name two likely violations of FIRST that arise when unit tests
actually call an external service as part of testing.</em></p>
<blockquote>
<div><p>The test may no longer be Fast, since it takes much longer to call an external
service than to compute locally. The test may no longer be Repeatable, since
circumstances beyond our control could affect its outcome, such as the temporary
unavailability of the external service.</p>
</div></blockquote>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 8, section_id: 2) %>" title="previous page"><span class="section-number">8.2. </span>Anatomy of a Test Case: Arrange, Act, Assert</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 8, section_id: 4) %>" title="next page"><span class="section-number">8.4. </span>Stubbing the Internet</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
