    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="lo-fi-user-interface-sketches-and-storyboards">
<h1><span class="section-number">7.3. </span>Lo-Fi User Interface Sketches and Storyboards<a class="headerlink" href="#lo-fi-user-interface-sketches-and-storyboards" title="Permalink to this headline">¶</a></h1>
<p>We usually need to specify a user interface (UI) when adding a new feature since many SaaS applications
interact with end users. Thus, part of the BDD task is often to propose a UI to match the user stories.
If a user story says a user needs to login, then we need a mockup of a page that has the login. Alas,
building software prototypes of user interfaces can intimidate stakeholders from suggesting improvements—just
the opposite of the effect we need at this early point of the design.</p>
<p>What we want is the UI equivalent of 3x5 cards; engaging to the nontechnical stakeholder and encouraging trial
and error, which means it must be easy to change or even discard. Just as the HCI community advocates 3x5 cards
for user stories, they recommend using kindergarten tools for UI mockups: crayons, construction paper, and scissors.
They call this low-tech approach to user interfaces <strong>Lo-Fi</strong> <strong>UI</strong> and the paper prototypes <em>sketches</em>. For example, the
top half of Figure 7.2 shows a Lo-Fi sketch of the UI for adding a movie to RottenPotatoes. Ideally, you make sketches
for all the user stories that involve a UI. It may seem tedious, but eventually you are going to have to specify all
the UI details when using HTML to make the real UI, and it’s a lot easier to get it right with pencil and paper than
with code.</p>
<p>Lo-Fi sketches show what the UI looks like at one instant in time. However, we also need to show how the sketches work
together as a user interacts with a page. Filmmakers face a similar challenge with scenes of a movie. Their solution,
which they call <strong>storyboarding</strong>, is to go through the entire film as if it was a comic book, with drawings for every
scene. Instead of a linear sequence of images like in a movie, the storyboard for a UI is typically a tree or graph of
screens driven by different user choices.</p>
<p>To make a storyboard, you must think about all the user interactions with a web app:</p>
<ul class="simple">
<li><p>Pages or sections of pages,</p></li>
<li><p>Forms and buttons, and</p></li>
<li><p>Popups.</p></li>
</ul>

<figure>
  <%= image_tag "Chapter7/7.2.jpg", class:"center", alt: "7.2" %>
  <figcaption>
  Figure 7.2: A storyboard illustrating two simple user stories about RottenPotatoes. Top: RottenPotatoes home page, listing
all movies; the starting point for both stories. Middle: Screen that should appear when adding a movie to RottenPotatoes.
Bottom: Screen that should appear when viewing details of an existing movie. The red-shaded words on each page are
clickable links or buttons; the arrows show what screen should be displayed next if that link or button is clicked.
  </figcaption>
</figure>

<p>The bottom half of Figure 7.2 shows a sequence of Lo-Fi sketches with indications of what the user clicks to cause
the transitions between sketches. After drawing the sketches and storyboards, you are ready to write HTML. Chapter 3
showed how Erb markup becomes HTML, and how the <code class="code docutils literal notranslate"><span class="pre">class</span></code> and <code class="code docutils literal notranslate"><span class="pre">id</span></code> attributes of HTML elements can be used to attach
styling information to them via Cascading Style Sheets (CSS). The key to the Lo-Fi approach is to get a good overall
structure from your sketches, and do minimal CSS (if any) to get the view to look more or less like your sketch.
Remember that
the common parts of the page layout—banners, structural divs, and so on—can go into <code class="code docutils literal notranslate"><span class="pre">views/layouts/application.html.erb</span></code>.</p>
<p>Start the process by looking at the Lo-Fi UI sketches and split them into “blocks” of the layout. Use CSS <code class="code docutils literal notranslate"><span class="pre">divs</span></code> for obvious
layout sections. There is no need to make it pretty until after you have everything working. Adding CSS styling, images, and
so on is the fun part, but make it look good <em>after</em> it works.</p>
<p>Since the example in Section 7.6 involved existing functionality, there is no need to modify the views or CSS. The next
section adds a new feature to RottenPotatoes and thus needs such changes.</p>
<p><strong>Self-Check 7.3.1.</strong> <em>True or False: The purpose of the Lo-Fi UI and storyboards is to debug the UI before
you program it.</em></p>
<blockquote>
<div><p>True</p>
</div></blockquote>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 7, section_id: 2) %>" title="previous page"><span class="section-number">7.2. </span>SMART User Stories</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 7, section_id: 4) %>" title="next page"><span class="section-number">7.4. </span>Points and Velocity</a>

        </div>
        
        </div>
    </div>
