    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="chips-activerecord-basics">
<h1><span class="section-number">4.3. </span>CHIPS: ActiveRecord Basics<a class="headerlink" href="#chips-activerecord-basics" title="Permalink to this headline">¶</a></h1>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 4, section_id: 2) %>" title="previous page"><span class="section-number">4.2. </span>Rails Models: Databases and Active Record</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 4, section_id: 4) %>" title="next page"><span class="section-number">4.4. </span>Routes, Controllers, and Views</a>

        </div>
        
        </div>
    </div>
