<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part2/chapter8/sub-chapter10.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="the-plan-and-document-perspective-on-testing">
<h1><span class="section-number">8.10. </span>The Plan-And-Document Perspective on Testing<a class="headerlink" href="#the-plan-and-document-perspective-on-testing" title="Permalink to this headline">¶</a></h1>
<p>The project manager takes the Software Requirements Specification from the requirements
planning phase and divides it into the individual program units. Developers then write
the code for each unit, and then perform unit tests to make sure they work. In many
organizations, quality assurance staff performs the rest of the higher-level tests, such
as module, integration, system, and acceptance tests.</p>
<p>There are three options on how to integrate the units and perform integration tests:</p>
<ol class="arabic simple">
<li><p><em>Top-down integration</em> starts with the top of tree structure showing the dependency among all the units. The advantage of top-down is that you quickly get some of the high level functions working, such as the user interface, which allows stakeholders to offer feedback for the app in time to make changes. The downside is that you have to create many stubs to get the app to limp along in this nascent form.</p></li>
<li><p><em>Bottom-up integration</em> starts at the bottom of the dependency tree and works up. There is no need for stubs, as you can integrate all the pieces you need for a module. Alas, you don’t get an idea how the app will look until you get all the code written and integrated.</p></li>
<li><p><em>Sandwich integration</em>, not surprisingly, tries to get the best of both worlds by integrat- ing from both ends simultaneously. Thus, you try to reduce the number of stubs by selectively integrating some units bottom-up and try to get the user interface opera- tional sooner by selectively integrating some units top-down.</p></li>
</ol>
<p>The next step for the QA testers after integration tests is the system test, as the
full app should work. This is the last step before showing it to customers for them to
try out. Note that system tests cover both non-functional requirements, such as
performance, and functional requirements of features found in the SRS.</p>
<p>One question for plan-and-document is how to decide when testing is complete. Typically, an
organization will enforce a standard level of testing coverage before a product is ready for
the customer. Examples might be statement coverage (all statements executed at least once),
or all user input opportunities are tested with both good input and problematic input.</p>
<p>In the plan and document process, the final test is for the customers to try the product in
their environment to decide whether they will accept the product or not. That is, the aim
is validation, not just verification. In Agile development, the customer is involved in
trying prototypes of the app early in the process, so there is no separate system test before
running the acceptance tests.</p>
<p>As you should expect from the plan-and-document process, documentation plays an important role
in testing. Figure 8.14 gives an outline for a test plan based on IEEE Standard 829-2008.</p>
<p>While testing is fundamental to software engineering, quoting another Turing Award winner:</p>
<blockquote>
<div><p>Program testing can be used to show the presence of bugs, but never to show their ab- sence!</p>
<p class="attribution">—Edsger W. Dijkstra</p>
</div></blockquote>
<p>Thus, there has been a great deal of research investigating approaches to verification beyond
testing. Collectively, these techniques are known as <strong>formal methods</strong>. The general strategy is
to start with a formal specification and prove that the behavior of the code follows the
behavior of that spec. These are mathematical proofs, either done by a person or done by a
computer. The two options are <strong>automatic theorem proving</strong> or <strong>model checking</strong>. Theorem proving
uses a set of inference rules and a set of logical axioms to produce proofs from scratch.
Model checking verifies selected properties by exhaustive search of all possible states that
a system could enter during execution.</p>
<p>Because formal methods are so computationally intensive, they tend to be used only when the
cost to repair errors is very high, the features are very hard to test, and the item being
verified is not too large. Examples include vital parts of hardware like network protocols
or safety critical software systems like medical equipment. For formal methods to actually
work, the size of the design must be limited: the largest formally verified software to date
is an operating system kernel that is less than 10,000 lines of code, and its verification
cost about $500 per line of code (Klein et al. 2010).</p>
<p>Hence, formal methods are <em>not</em> good matches to high-function software that changes frequently,
as is generally the case for Software as a Service.</p>

<figure>
  <%= image_tag "Chapter8/8.14.jpg", class:"center", alt: "8.14" %>
  <figcaption>
  Figure 8.14: Outline of Top-Level Test Plan Documentation that follows the IEEE Standard 829-2008.
 </figcaption>
</figure>

<figure>
  <%= image_tag "Chapter8/8.15.jpg", class:"center", alt: "8.15" %>
  <figcaption>
  Figure 8.15: The relationship between the testing tasks of Plan-and-Document versus Agile methodologies.
  </figcaption>
</figure>

<p><strong>Self-Check 8.10.1.</strong> <em>Compare and contrast integration strategies including top-down, bottom-up,
and sandwich integration.</em></p>
<blockquote>
<div><p>Top-down needs stubs to perform the tests, but it lets stakeholders get a feeling for
how the app works. Bottom-up does not need stubs, but needs potentially everything written
before stakeholders see it work. Sandwich integration works from both ends to try to get
both benefits.</p>
</div></blockquote>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 8, section_id: 9) %>" title="previous page"><span class="section-number">8.9. </span>CHIPS:The Acceptance Test/Unit Test Cycle</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 8, section_id: 11) %>" title="next page"><span class="section-number">8.11. </span>Fallacies and Pitfalls</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
