    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="chips-exploiting-caching-and-indices">
<h1><span class="section-number">12.8. </span>CHIPS: Exploiting Caching and Indices<a class="headerlink" href="#chips-exploiting-caching-and-indices" title="Permalink to this headline">¶</a></h1>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 12, section_id: 7) %>" title="previous page"><span class="section-number">12.7. </span>Avoiding Abusive Database Queries</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 12, section_id: 9) %>" title="next page"><span class="section-number">12.9. </span>Security: Defending Customer Data in Your App</a>

        </div>
        
        </div>
    </div>
