    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="chips-intro-to-bdd-and-cucumber">
<h1><span class="section-number">7.7. </span>CHIPS: Intro to BDD and Cucumber<a class="headerlink" href="#chips-intro-to-bdd-and-cucumber" title="Permalink to this headline">¶</a></h1>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 7, section_id: 6) %>" title="previous page"><span class="section-number">7.6. </span>Cucumber: From User Stories to Acceptance Tests</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 7, section_id: 8) %>" title="next page"><span class="section-number">7.8. </span>Explicit vs. Implicit and Imperative vs. Declarative Scenarios</a>

        </div>
        
        </div>
    </div>
