    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="chips-ruby-intro">
<h1><span class="section-number">2.5. </span>CHIPS: Ruby Intro<a class="headerlink" href="#chips-ruby-intro" title="Permalink to this headline">¶</a></h1>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 2, section_id: 4) %>" title="previous page"><span class="section-number">2.4. </span>Ruby Idioms: Poetry Mode, Blocks, Duck Typing</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 2, section_id: 6) %>" title="next page"><span class="section-number">2.6. </span>Gems and Bundler: Library Management in Ruby</a>

        </div>
        
        </div>
    </div>
