    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="chips-rails-routes">
<h1><span class="section-number">4.5. </span>CHIPS: Rails Routes<a class="headerlink" href="#chips-rails-routes" title="Permalink to this headline">¶</a></h1>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 4, section_id: 4) %>" title="previous page"><span class="section-number">4.4. </span>Routes, Controllers, and Views</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 4, section_id: 6) %>" title="next page"><span class="section-number">4.6. </span>Forms</a>

        </div>
        
        </div>
    </div>
