<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="chips-agile-iterations">
<h1><span class="section-number">10.5. </span>CHIPS: Agile Iterations<a class="headerlink" href="#chips-agile-iterations" title="Permalink to this headline">¶</a></h1>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 10, section_id: 4) %>" title="previous page"><span class="section-number">10.4. </span>Delivering the Backlog Using Continuous Integration</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 10, section_id: 6) %>" title="next page"><span class="section-number">10.6. </span>Reporting and Fixing Bugs: The Five R’s</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
