<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="looking-backwards">
<h1><span class="section-number">13.1. </span>Looking Backwards<a class="headerlink" href="#looking-backwards" title="Permalink to this headline">¶</a></h1>
<p>Figure 13.1, first seen in Chapter 1, shows the three “crown jewels” on which the material
in this book is based. Each pair of “jewels” forms synergistic bonds that support each other,
as Figure 13.1 shows. In particular, the tools and related services of Rails makes it much
easier to follow the Agile lifecycle. Figure 13.2 shows our oft-repeated Agile iteration, but
this time it is decorated with the tools and services that we use in this book. These 14 tools
and services support <em>both</em> following the Agile lifecycle <em>and</em> developing SaaS apps. Similarly,
Figure 13.3 summarizes the relationship between phases of Plan-and-Document lifecycles and
their Agile equivalents, showing how the techniques described in detail in this book play
similar roles to those in earlier software process models.</p>
<p>Rails is very powerful but has evolved tremendously since version 1.0, which was originally
extracted from a specific application. Indeed, the Web itself evolved from specific details
to more general architectural patterns:</p>
<ul class="simple">
<li><p>From static documents in 1990 to dynamic content by 1995;</p></li>
<li><p>From opaque URIs in the early 1990s to REST by the early 2000s;</p></li>
<li><p>From session “hacks” (fat URIs, hidden fields, and so on) in the early 1990s to cookies and real sessions by the mid 1990s; and</p></li>
<li><p>From setting up and administering your own ad-hoc servers in 1990 to deployment on “curated” cloud platforms in the 2000s.</p></li>
</ul>
<p>The programming languages Java and Ruby offer another demonstration that good incremental ideas
can be embraced quickly but great radical ideas take time before they are accepted. Java and
Ruby are the same age, both appearing in 1995. Within a few years Java became one of the most
popular programming languages, while Ruby remained primarily of interest to the programming
languages literati. Ruby’s popularity came a decade later with the release of Rails. Ruby and
Rails demonstrate that big ideas in programming languages really can deliver productivity
through extensive software reuse. Comparing Java and its frameworks to Ruby and Rails,
(Stella et al. 2008) and (Ji and Sedano 2011) found factors of 3 to 5 reductions in number
of lines of code, which is one indication of productivity.</p>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= chapter_path(chapter_id: 13) %>" title="previous page"><span class="section-number">13. </span>Afterword</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 13, section_id: 2) %>" title="next page"><span class="section-number">13.2. </span>Looking Forwards</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
