<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">

    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <h1 id="search-documentation">Search</h1>
  
  <div id="fallback" class="admonition warning">
  <script>$('#fallback').hide();</script>
  <p>
    Please activate JavaScript to enable the search
    functionality.
  </p>
  </div>
  
  
  <p>
    Searching for multiple words only shows matches that contain
    all words.
  </p>


<script async="" src="https://cse.google.com/cse.js?cx=8b23decb573277061"></script>
<div class="gcse-searchbox"></div>
	
  
  
  
  <div id="search-results">
	  <div class="gcse-searchresults"></div>
  </div>
  

              </div>
              
        
        <div class='prev-next-bottom'>
            

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
