<div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
            <div class="dropdown-buttons-trigger">
                <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
                        class="fas fa-download"></i></button>

                <div class="dropdown-buttons">
                    <!-- ipynb file if we had a myst markdown file -->
                    
                    <!-- Download raw file -->
                    <a class="dropdown-buttons" href="../../_sources/part2/chapter13/sub-chapter3.rst.txt"><button type="button"
                            class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                            data-placement="left">.rst</button></a>
                    <!-- Download PDF via print -->
                    <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
                        onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
                </div>
            </div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

            <a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
                    data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
                    title="Fullscreen mode"><i
                        class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show"> </div>
    </div>
</div>