
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>4.10. Fallacies and Pitfalls &#8212; saasbook  documentation</title>
    

    
  
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="esaasbook/app/assets/stylesheets/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="esaasbook/app/assets/stylesheets/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.woff2">

    
      

    
    
  <link rel="preload" as="script" href="esaasbook/app/assets/stylesheets/_static/js/index.1c5a1a01449ed65a7b51.js">

    <script data-url_root="../../" id="documentation_options" src="esaasbook/app/assets/stylesheets/_static/documentation_options.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/jquery.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/underscore.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/doctools.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/sphinx-book-theme.12a9622fbb08dcb3a2a40b2c02b83a57.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="4.11. Concluding Remarks: Rails as a Service Framework" href="11" />
    <link rel="prev" title="4.9. CHIPS: Hello Rails" href="9" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="docsearch:language" content="en" />
    
  </head>
  <body data-spy="scroll" data-target="#bd-toc-nav" data-offset="80">
    
    <div class="container-fluid" id="banner"></div>

    

    <div class="container-xl">
      <div class="row">
          

</div>


          


          
<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part1/chapter4/sub-chapter10.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="fallacies-and-pitfalls">
<h1><span class="section-number">4.10. </span>Fallacies and Pitfalls<a class="headerlink" href="#fallacies-and-pitfalls" title="Permalink to this headline">¶</a></h1>
<p><strong>Pitfall: Route with a matching view but no controller action.</strong></p>
<p>If you specify a route (say <code class="code docutils literal notranslate"><span class="pre">GET</span> <span class="pre">/movies</span></code>) that lacks a corresponding controller action
(<code class="code docutils literal notranslate"><span class="pre">MoviesController#index</span></code> in this case) but <em>does</em> have a matching view (<code class="code docutils literal notranslate"><span class="pre">app/views/movies/index.html.erb</span></code> in this case),
<em>Rails will behave as if the controller action exists but has an empty method definition.</em> That is, it will render
the view, but any instance variables used in the view will be <code class="code docutils literal notranslate"><span class="pre">nil</span></code>. If the matching view template <em>does not</em> exist,
Rails will signal an error when the route is used. This inconsistency is non-intuitive, so be careful when you
set up a route that you immediately add <em>both</em> the controller action and the view template, or else add neither.</p>
<p><strong>Pitfall: Modifying the database manually rather than using migrations, or managing gems manually rather than using Bundler.</strong></p>
<p>Especially if you’ve come from other SaaS frameworks, it may be tempting to use the SQLite command line or a GUI
database console to manually add or change database tables or to install libraries. <strong>Don’t do it.</strong> If you modify the
database manually, you’ll have no consistent way to reproduce these steps in the future (for example at deployment
time) and no way to roll back the changes in an orderly way. Also, since migrations and Gemfiles are just files that
become part of your project, you can keep them under version control and see the entire history of your changes.</p>
<p><strong>Pitfall: Bulky controller actions or views.</strong></p>
<p>Because controller actions are the first place in your app’s code that are called when a user request arrives, it’s
remarkably easy for the actions’ methods to get bulky—putting all kinds of logic in the controller that really
belongs in the model. Similarly, it’s easy for code to creep into views—most commonly, a view may find itself
calling a model method such as <code class="code docutils literal notranslate"><span class="pre">Movie.all</span></code>, rather than having the controller method set up a variable such
as <code class="code docutils literal notranslate"><span class="pre">&#64;movies=Movie.all</span></code> and having the view just use <code class="code docutils literal notranslate"><span class="pre">&#64;movies</span></code>. Besides violating MVC, cou- pling views to models can
interfere with caching, which we’ll explore in Chapter 5. The view should focus on displaying content and facilitating
user input, and the controller should focus on mediating between the view and the model and set up any necessary
variables to keep code from leaking into the view.</p>
<p><strong>Pitfall: Overstuffing the session[] hash.</strong></p>
<p>You should minimize what you put in the <code class="code docutils literal notranslate"><span class="pre">session[]</span></code> for two reasons. First, with the default Rails configuration, the
session is packed into a cookie (Section 3.2), which the HTTP specification limits to 4 KiB in size. Second, and more
importantly, bulky sessions are a
warning that your app’s actions aren’t very self-contained and therefore probably not RESTful, and may be difficult to
use as part of a Service-Oriented Architecture. Although nothing stops you from assigning arbitrary objects to the
session, you should keep just the ids of nec- essary objects in the session and keep the objects themselves in model
tables in the database.</p>
<p><strong>Pitfall: Adopting a framework without a good reason.</strong></p>
<p>Software breeds complexity. The more numerous and complex the libraries on which your app relies, the more you’ll have
to learn to write the app properly; the more resource-intensive (thus possibly slower) the app will run; the harder
it will be to maintain; and perhaps most importantly, the more exposure surface it will have for being attacked. Use
the simplest framework that will solve most of your problems.</p>
<p>The answer to the question “Should my app use framework X” should be NO by default, unless you can come up with good
technical reasons why it should. Some examples of good reasons: the framework encapsulates a solution to a hard technical
problem, as Stripe does for credit card processing; the framework provides low-level machinery to instantiate an architecture
that the app follows closely, as Rails does for Model–View–Controller; or there are technological constraints requiring
you to use the framework (“all our apps are built on framework X and that’s all we know how to maintain”).</p>
<p>Bad reasons include: “It’s the hot new framework”; “All the popular apps use it”; “I will be more marketable if I learn this
framework, and this app is a good excuse to learn it”. The last one is doubly false: the most sought-after software engineers
are those who can learn new frameworks quickly, and at any rate, a new customer-facing app is not an excuse to learn a
framework but an artifact that your customers will rely on, and that whoever comes after you will have to maintain (if
you’re lucky; otherwise it will just die).</p>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="/chapter/4/section/9" title="previous page"><span class="section-number">4.9. </span>CHIPS: Hello Rails</a>
    <a class='right-next' id="next-link" href="/chapter/4/section/11" title="next page"><span class="section-number">4.11. </span>Concluding Remarks: Rails as a Service Framework</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>


      </div>
    </div>
  
  <script src="esaasbook/app/assets/stylesheets/_static/js/index.1c5a1a01449ed65a7b51.js"></script>

  
  </body>
</html>