
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7.1. Behavior-Driven Design and User Stories &#8212; saasbook  documentation</title>
    

    
  
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="esaasbook/app/assets/stylesheets/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="esaasbook/app/assets/stylesheets/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.woff2">

    
      

    
    
  <link rel="preload" as="script" href="esaasbook/app/assets/stylesheets/_static/js/index.1c5a1a01449ed65a7b51.js">

    <script data-url_root="../../" id="documentation_options" src="esaasbook/app/assets/stylesheets/_static/documentation_options.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/jquery.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/underscore.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/doctools.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/sphinx-book-theme.12a9622fbb08dcb3a2a40b2c02b83a57.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="7.2. SMART User Stories" href="2" />
    <link rel="prev" title="7. Requirements: BDD and User Stories" href=".." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="docsearch:language" content="en" />
    
  </head>
  <body data-spy="scroll" data-target="#bd-toc-nav" data-offset="80">
    
    <div class="container-fluid" id="banner"></div>

    

    <div class="container-xl">
      <div class="row">
          

</div>


          


          
<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part2/chapter7/sub-chapter1.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="behavior-driven-design-and-user-stories">
<h1><span class="section-number">7.1. </span>Behavior-Driven Design and User Stories<a class="headerlink" href="#behavior-driven-design-and-user-stories" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p>Behavior-Driven Design is Test-Driven Development done correctly.</p>
<p class="attribution">—Anonymous</p>
</div></blockquote>
<p>Software projects fail because they don’t do what customers want; or because they are late; or because
they are over budget; or because they are hard to maintain and evolve; or all of the above.</p>
<p>The Agile lifecycle was invented to attack these problems for many common types of software. Figure 7.1 shows
one iteration of the Agile lifecycle from Chapter 1, highlighting the portion covered in this chapter. As we
saw in Chapter 1, the Agile lifecycle involves:</p>
<ul class="simple">
<li><p>Working closely and continuously with stakeholders to develop requirements and tests.</p></li>
<li><p>Maintaining a working prototype while deploying new features typically every two weeks—called an iteration—and checking in with stakeholders to decide what to add next and to validate that the current system is what they really want. Having a working prototype and prioritizing features reduces the chances of a project being late or over budget, or perhaps increasing the likelihood that the stakeholders are satisfied with the current system once the budget is exhausted!</p></li>
</ul>
<p>Unlike a plan-and-document lifecycle in Chapter 1, Agile development does not switch phases (and people) over time
from development mode to maintenance mode. With Agile, you are basically in maintenance mode as soon as you’ve
implemented the first set of features. This approach helps make the project easier to maintain and evolve.</p>
<p>We start the Agile lifecycle with <strong>Behavior-Driven Design (BDD)</strong>. BDD asks questions about the behavior of an application
<em>before and during development</em> so that the stakeholders are less likely to miscommunicate. Requirements are written down
as in plan-and-document, but unlike plan-and-document, requirements are continuously refined to ensure the resulting
software meets the stakeholders’ desires. That is, using the terms from Chapter 1, the goal of BDD requirements is
<strong>validation</strong> (build the right thing), not just <strong>verification</strong> (build the thing right).</p>
<p>The BDD version of requirements is <strong>user stories</strong>, which describe how the application is expected to be used. They are
lightweight versions of requirements that are better suited to Agile. User stories help stakeholders plan and prioritize
development. Thus, like plan-and-document, you start with requirements, but in BDD user stories take the place of design
documents in plan-and-document.</p>
<p>By concentrating on the behavior of the application versus the implementation of application, it is easier to reduce
misunderstandings between stakeholders. As we shall see in the next chapter, BDD is closely tied to Test-Driven
Development (TDD), which does test implementation. In practice they work together hand-in-hand, but for pedagogical
reasons we introduce them sequentially.</p>
<p>User stories came from the Human Computer Interface (HCI) community. They devel- oped them using 3-inch by 5-inch
index cards or “3-by-5 cards,” or in countries where metric paper sizes are used, A7 cards of 74 mm by 105 mm.
(We’ll see other examples of paper and pencil technology from the HCI community shortly.) These cards contain one
to three sentences written in everyday nontechnical language written jointly by the customers and de- velopers. The
rationale is that paper cards are nonthreatening and easy to rearrange, thereby enhancing brainstorming and prioritizing.
The general guidelines for the user stories them- selves is that they must be testable, be small enough to implement in
one iteration, and have business value. Section 7.2 gives more detailed guidance for good user stories.</p>
<p>Note that individual developers working by themselves without customer interaction don’t need these 3-by-5 cards, but
this “lone wolf” developer doesn’t match the Agile philosophy of working closely and continuously with the customer.</p>
<p>We will use the RottenPotatoes app from Chapters 3 and 4 as the running example in this chapter and the next one. We start
with the stakeholders, which are simple for this simple app:</p>
<ul class="simple">
<li><p>The operators of RottenPotatoes, and</p></li>
<li><p>The movie fans who are end-users of RottenPotatoes.</p></li>
</ul>
<p>We’ll introduce a new feature in Section 7.6, but to help understand all the mov- ing parts, we’ll start with a user
story for an existing feature of RottenPotatoes so that we can understand the relationship of all the components in a
simpler set- ting. The user story we picked is to add movies to the RottenPotatoes database:</p>
<div class="highlight-cucumber notranslate"><div class="highlight"><pre><span></span><span class="k">Feature:</span><span class="nf"> Add a movie to RottenPotatoes</span>
<span class="nf">    As a movie fan</span>
<span class="nf">    So that I can share a movie with other movie fans</span>
<span class="nf">    I want to add a movie to RottenPotatoes database</span>
<span class="k">Scenario:</span><span class="nf"> Add a movie</span>
<span class="k">    Given </span><span class="nf">I am on the RottenPotatoes home page</span>
<span class="nf">    </span><span class="k">When </span><span class="nf">I follow &quot;</span><span class="s">Add new movie</span><span class="nf">&quot;</span>
<span class="nf">    </span><span class="k">Then </span><span class="nf">I should be on the Create New Movie page</span>
<span class="nf">    </span><span class="k">When </span><span class="nf">I fill in &quot;</span><span class="s">Title</span><span class="nf">&quot; with &quot;</span><span class="s">Hamilton</span><span class="nf">&quot;</span>
<span class="nf">    </span><span class="k">And </span><span class="nf">I select &quot;</span><span class="s">PG-13</span><span class="nf">&quot; from &quot;</span><span class="s">Rating</span><span class="nf">&quot;</span>
<span class="nf">    </span><span class="k">And </span><span class="nf">I select &quot;</span><span class="s">July 4, 2020</span><span class="nf">&quot; as the &quot;</span><span class="s">Released On</span><span class="nf">&quot; date</span>
<span class="nf">    </span><span class="k">And </span><span class="nf">I press &quot;</span><span class="s">Save Changes</span><span class="nf">&quot;</span>
<span class="nf">    </span><span class="k">Then </span><span class="nf">I should be on the RottenPotatoes home page</span>
<span class="nf">    </span><span class="k">And </span><span class="nf">I should see &quot;</span><span class="s">Hamilton</span><span class="nf">&quot;</span>
</pre></div>
</div>
<p>This user story format was developed by the startup company Connextra and is named
after them; sadly, this startup is no longer with us. The format is:</p>
<div class="highlight-cucumber notranslate"><div class="highlight"><pre><span></span><span class="nf">Feature name</span>
<span class="nf">    As a [kind of stakeholder],</span>
<span class="nf">    So that [I can achieve some goal],</span>
<span class="nf">    </span><span class="k">I </span><span class="nf">want to [do some task]</span>
</pre></div>
</div>
<p>This format identifies the stakeholder since different stakeholders may describe the desired behavior differently.
For example, users may want to link to information sources to make it easier to find the information while operators
may want links to trailers so that they can get an income stream from the advertisers. All three clauses have to be
present in the Connextra format, but they are not always in this order.</p>
<p><strong>Self-Check 7.1.1.</strong> <em>True or False: User stories on 3x5 cards in BDD play the same role as design requirements in
plan-and-document.</em></p>
<blockquote>
<div><p>True.</p>
</div></blockquote>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="/chapter/7" title="previous page"><span class="section-number">7. </span>Requirements: BDD and User Stories</a>
    <a class='right-next' id="next-link" href="/chapter/7/section/2" title="next page"><span class="section-number">7.2. </span>SMART User Stories</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>


      </div>
    </div>
  
  <script src="esaasbook/app/assets/stylesheets/_static/js/index.1c5a1a01449ed65a7b51.js"></script>

  
  </body>
</html>