
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>12.10. The Plan-And-Document Perspective on Operations &#8212; saasbook  documentation</title>
    

    
  
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="esaasbook/app/assets/stylesheets/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="esaasbook/app/assets/stylesheets/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.woff2">

    
      

    
    
  <link rel="preload" as="script" href="esaasbook/app/assets/stylesheets/_static/js/index.1c5a1a01449ed65a7b51.js">

    <script data-url_root="../../" id="documentation_options" src="esaasbook/app/assets/stylesheets/_static/documentation_options.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/jquery.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/underscore.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/doctools.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/sphinx-book-theme.12a9622fbb08dcb3a2a40b2c02b83a57.js"></script>
    <script async="async" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="12.11. Fallacies and Pitfalls" href="11" />
    <link rel="prev" title="12.9. Security: Defending Customer Data in Your App" href="9" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="docsearch:language" content="en" />
    
  </head>
  <body data-spy="scroll" data-target="#bd-toc-nav" data-offset="80">
    
    <div class="container-fluid" id="banner"></div>

    

    <div class="container-xl">
      <div class="row">
          

</div>


          


          
<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part2/chapter12/sub-chapter10.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="the-plan-and-document-perspective-on-operations">
<h1><span class="section-number">12.10. </span>The Plan-And-Document Perspective on Operations<a class="headerlink" href="#the-plan-and-document-perspective-on-operations" title="Permalink to this headline">¶</a></h1>
<p>Non-functional requirements can be more important than adding new features, as
violations can cause loss of millions of dollars, millions of users, or both. For
example, sales for Amazon.com in the fourth quarter of 2012 was $23.3B, so the
loss of income due to Amazon being down just one hour would average $10M. That same
year a break-in of the Nebraska Student Information System revealed social security
numbers of anyone who applied to the University of Nebraska since 1985, estimated as
650,000 people. If customers can’t trust a SaaS app, they will stop using it no matter
what the set of features.</p>
<p><strong>Performance.</strong> Performance is not a topic of focus in conventional software engineering,
in part because it has been the excuse for bad practices and in part because it is well
covered elsewhere. Performance can be part of the non-functional requirements and then
later in acceptance-level testing to ensure the performance requirement is met.</p>
<p><strong>Release Management.</strong> Plan-and-document processes often produce software products that have
major releases and minor releases. Using the Rails as an example, the last number of
version 3.2.12 is a minor release, the middle number is a major release, and the first
number is such a large change that it breaks APIs so that apps need to be ported again to
this version. A release includes everything: code, configuration files, any data, and
documentation. Release management includes picking dates for the release, information on how
it will be distributed, and documenting everything so that you know what exactly is in the
release and how to make it again so that it is easy to change when you have to make the next
release. Release management is considered a case of configuration management in
Plan-and-Document processes, which we review in Section 10.7.</p>
<p><strong>Reliability.</strong> The main tool in our bag to make a system dependable is redundancy. By having
more hardware than the absolute minimum needed to run the app and store the data, the system
has the potential to continue even if a component fails. As all physical hardware has a
non-zero failure rate, one redundancy guideline is to make sure there is <em>no single</em> point <em>of
failure</em>, as it can be the Achilles’ Heel of a system. Generally, the more redundancy the
lower the chance of failure. As highly redundant systems can be expensive, it is important
to have an adult conversation with the customer to see how dependable the app must be.</p>
<p>Dependability is holistic, involving the software and the operators as well as the hardware.
No matter how dependable the hardware is, errors in the software and mistakes by the operators
can lead to outages that reduce the <strong>mean time to failure (MTTF)</strong>. As dependency is a function
of the weakest link in the chain, it may be more effective to train operators how to run the
app or to reduce the flaws in the software than to buy more redundant hardware to run the app.
Since “to err is human,” systems should include safeguards to tolerate and prevent operator
errors as well as hardware failures.</p>
<p>A foundational assumption of the Plan-and-Document processes is that an organization can make
the production of software predictable and repeatable by honing its process of software
development, which should also lead to more reliable software. Hence, organizations commonly
record everything they can from projects to learn what they can do to improve their process.
For example, the ISO 9001 standard is granted if companies have processes in place, a method
to see if the process is being followed, and record the results for each project so as to make
improvements in their process. Surprisingly, standardization approval is not about the quality
of the resulting code, it is just about the development process.</p>
<p>Finally, like performance, reliability can be measured. We can improve availability either
taking longer between failures (MTTF) or by making the app reboot faster—<strong>mean time between
repairs (MTTR)</strong>—as this equation shows:</p>
<div class="math notranslate nohighlight">
\[\text{unavailability} \approx \frac{MTTR}{MTTF}\]</div>
<p>While it is hard to measure improvements in MTTF, as it can take a long time to record
failures, we can easily measure MTTR. We just crash a computer and see how long it takes the
app to reboot. And what we can measure, we can improve. Hence, it may be much more
cost-effective to try to improve MTTR than to improve MTTF since it is easier to measure
progress. However, they are not mutually exclusive, so developers can try to increase
dependability by following both paths.</p>
<p><strong>Security.</strong> While reliability can depend on probability to calculate availability—it is unlikely
that several disks will fail simultaneously if the storage system is designed without hidden
dependencies—this is not the case for security. Here there is an human adversary who is probing
the corner cases of your design for weaknesses and then taking advantage of them to break into
your system. The Common Vulnerabilities and Exposures database lists common attacks to help
developers understand the difficulty of security challenges.</p>
<p>Fortunately, defensive programming to make your system more robust against failures can also
help make your system more secure. For example, in a <strong>buffer overflow attack</strong>, the adversary
sends too much data to a buffer to overwrite nearby memory with their own code hidden inside
the data. Checking the inputs to ensure that the user is not sending too much data can prevent
such attacks. Similarly, the basis of <strong>arithmetic overflow attack</strong> might be to supply such an
unexpectedly large number that when added to another number it will look small due to the
wraparound nature of overflow with 32-bit arithmetic. Checking input values or catching
exceptions might prevent this attack. As computers today normally have multiple processors
(“multicore”), an increasingly common attack is a <strong>data race attack</strong> where the program has
non-deterministic behavior depending on the input. These concurrent programming flaws are
much harder to detect and correct.</p>
<p>Testing is much more challenging for security, but one approach is use a <strong>tiger team</strong> as the
adversaries who perform <strong>penetration tests</strong>. The team reports back to the developers the
uncovered vulnerabilities.</p>
<p><strong>Self-Check 12.10.1.</strong> <em>Besides buffer overflows, arithmetic overflows, and data races, list
another potential bug that can lead to security problem by violating one of the three security
principles listed above.</em></p>
<blockquote>
<div><p>One example is improper initialization, which could violate the principle of
fail-safe defaults.</p>
</div></blockquote>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="/chapter/12/section/9" title="previous page"><span class="section-number">12.9. </span>Security: Defending Customer Data in Your App</a>
    <a class='right-next' id="next-link" href="/chapter/12/section/11" title="next page"><span class="section-number">12.11. </span>Fallacies and Pitfalls</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>


      </div>
    </div>
  
  <script src="esaasbook/app/assets/stylesheets/_static/js/index.1c5a1a01449ed65a7b51.js"></script>

  
  </body>
</html>