
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1.12. Concluding Remarks: Software Engineering Is More Than Programming &#8212; saasbook  documentation</title>
    

    
  
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="esaasbook/app/assets/stylesheets/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="esaasbook/app/assets/stylesheets/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.woff2">

    
      

    
    
  <link rel="preload" as="script" href="esaasbook/app/assets/stylesheets/_static/js/index.1c5a1a01449ed65a7b51.js">

    <script data-url_root="../../" id="documentation_options" src="esaasbook/app/assets/stylesheets/_static/documentation_options.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/jquery.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/underscore.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/doctools.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/sphinx-book-theme.12a9622fbb08dcb3a2a40b2c02b83a57.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="2. How to Learn a New Language" href="../../../chapter/2" />
    <link rel="prev" title="1.11. Fallacies and Pitfalls" href="11" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="docsearch:language" content="en" />
    
  </head>
  <body data-spy="scroll" data-target="#bd-toc-nav" data-offset="80">
    
    <div class="container-fluid" id="banner"></div>

    

    <div class="container-xl">
      <div class="row">
          

</div>


          


          
<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/intro/chapter1/sub-chapter12.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="concluding-remarks-software-engineering-is-more-than-programming">
<h1><span class="section-number">1.12. </span>Concluding Remarks: Software Engineering Is More Than Programming<a class="headerlink" href="#concluding-remarks-software-engineering-is-more-than-programming" title="Permalink to this headline">¶</a></h1>
<p>The Concluding Remarks at the end of each chapter give the learner some
perspective on what the chapter has covered: Where did the technical ideas or
innovations come from? What, if anything, can we say about where they are going,
given that history? Where can an interested reader learn more about these topics?
These sections never contain specific technical skill content, so if you’re in a rush,
you can skip them; but if you want to become a seasoned practitioner and a good designer
of software and tools, you probably shouldn’t.</p>
<blockquote>
<div><p><em>But if Extreme Programming is just a new selection of old practices, what’s so extreme about it? Kent’s answer is that it takes obvious, common sense principles and practices to extreme levels. For example:
— If short iterations are good, make them as short as possible—hours or minutes or seconds rather than days or weeks or years.
— If simplicity is good, always do the simplest thing that could possibly work.
— If testing is good, test all the time. Write the test code before you write the code to test.
— If code reviews are good, review code continuously, by programming in pairs, two programmers to a computer, taking turns looking over each other’s shoulders.</em></p>
<blockquote>
<div><p><em>—Michael Swaine, interview with Kent Beck,
(Swaine 2001)</em></p>
</div></blockquote>
</div></blockquote>
<p>This single quote gives a good deal of the rationale behind the extreme programming (XP)
version of Agile that we cover in this book. We keep iterations short, so that the customer
sees the next version of the incomplete but working prototype every week or two. You write
the tests <em>before</em> you write the code, and then you write the least amount of code it takes
to make it pass the test. Pair programming means the code is under continuous review, rather
than just on special occasions. Agile went from software methodology heresy to the dominant
form of development in just a dozen years, and when combined with service oriented architecture,
allows complex services to be built reliably.</p>
<p>While there is no inherent dependency among SaaS, Agile, and highly productive frameworks like Rails,
Figure 1.10 suggests there is a synergistic relationship among them. Agile development means continuous
progress while working closely with the customer, and SaaS on Cloud Computing enables the customer
to use the latest version immediately, thereby clos- ing the feedback loop (see Chapters 7 and Chapter 12).
SaaS on Cloud Computing matches the Model–View–Controller design pattern (see Chapter 11), which
Highly-Productive SaaS Frameworks expose (see Chapters 3, 4, and 5). Highly Productive Frameworks and
Tools designed to support Agile development remove obstacles to practicing Agile (see Chapters 7, 8, and 10).
We believe these three “crown jewels” form a “virtuous triangle” that leads to
on-time and on-budget engineering of beautiful Software as a Service, and they form the foundation of this book.</p>
<p>This virtuous triangle also helps explain the innovative nature of the Rails community, where new important
tools are frequently developed that further improve productivity, simply because it’s so easy to do. We fully
expect that future editions of this book will include tools not yet invented that are so helpful that we can’t
imagine how we got our work done without them!</p>
<p>As teachers, since many students find the Plan-and-Document methods tedious, we are pleased that the answers to
the 10 questions in Figure 1.5 strongly recommend using Agile for student team projects. Nevertheless, we believe
it is worthwhile for readers to be familiar with the Plan-and-Document methodology, as there are some tasks where
it may be a better match, some customers require it, and it helps explain parts of the Agile methodology. Thus,
we include sections near the end of all chapters in Part II that offer the Plan-and-Document perspective.</p>
<p>As researchers, we are convinced that software of the future will increasingly be built and rely on services in
the Cloud, and thus Agile methodology will continue to increase in popularity in part given the strong synergy b
etween them. Hence, we are at a happy point in technology where the future of software development is more fun
both to learn and to teach. Highly productive frameworks like Rails let you understand this valuable technology
by <em>doing</em> in a remarkably short time. The main reason we wrote this book is to help more people become aware of
and take advantage of this extraordinary opportunity.</p>
<p>Cloud computing had existed for only a few years prior to the First Edition of this book, and has evolved
spectacularly since then. Clusters of commodity computers had long been the basis of SaaS, but cloud computing
changed how those clusters are used. Until the late 1990s, it was common for a particular computer to be dedicated
to a particular SaaS app and have preinstalled all of the software components needed to run it. In contrast,
starting in the mid 2000s, <strong>virtual machine</strong> technology made it possible for a single physical computer to emulate
many computers, such that the software running in each virtual computer believed it was running on the real
hardware. Like many other SaaS-relevant technologies, virtual machines had been around for decades—in this case,
since at least the 1960s—but falling hardware costs and the dominance of the Intel architecture in server computers
made high- performance virtual machines a practical tool for hosting many different SaaS apps on a single computer,
even those requiring different operating systems and software packages. A typical SaaS app only cares about the type
of virtual machine it’s running in, and can remain largely ignorant of the details of the hardware and OS on which
that virtual machine is hosted. Since the mid 2000s, further evolution of virtual machine technology led to lightweight
<strong>container</strong> frameworks such as Docker, which isolate software packages from each other while sharing a single operating
system kernel image. The most recent phase of virtualization is so-called “serverless” computing (Castro et al. 2019),
one example of which is Amazon Lambda10 Functions as a Service (FaaS), since the developer now specifies only function
code and pays per function invocation. Of course, this computing is not truly serverless—the functions have to run
somewhere—but unlike traditional SaaS, developers do not deal with a software stack consisting of an app server,
HTTP server, and so on; they write only the functions. Serverless computing is still evolving and has both pros
and cons depending on the type of app to be deployed.</p>
<p>We believe if you learn the contents of this book in conjunction with doing the suggested assignments and activities
(CHIPS), you can build your own (simplified) version of a popular
software service like FarmVille or Twitter while learning and following sound software engineering practices.
While being able to imitate currently successful services and deploy them in the cloud in a few months is impressive,
we are even more excited to see what <em>you</em> will invent given this new skill set. We look forward to your beautiful
code becoming long-lasting, and to becoming some of its passionate fans!</p>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="/chapter/1/section/11" title="previous page"><span class="section-number">1.11. </span>Fallacies and Pitfalls</a>
    <a class='right-next' id="next-link" href="/chapter/2" title="next page"><span class="section-number">2. </span>How to Learn a New Language</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>


      </div>
    </div>
  
  <script src="esaasbook/app/assets/stylesheets/_static/js/index.1c5a1a01449ed65a7b51.js"></script>

  
  </body>
</html>