
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>13.1. Looking Backwards &#8212; saasbook  documentation</title>
    

    
  
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="esaasbook/app/assets/stylesheets/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="esaasbook/app/assets/stylesheets/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.woff2">

    
      

    
    
  <link rel="preload" as="script" href="esaasbook/app/assets/stylesheets/_static/js/index.1c5a1a01449ed65a7b51.js">

    <script data-url_root="../../" id="documentation_options" src="esaasbook/app/assets/stylesheets/_static/documentation_options.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/jquery.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/underscore.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/doctools.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/sphinx-book-theme.12a9622fbb08dcb3a2a40b2c02b83a57.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="13.2. Looking Forwards" href="2" />
    <link rel="prev" title="13. Afterword" href=".." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="docsearch:language" content="en" />
    
  </head>
  <body data-spy="scroll" data-target="#bd-toc-nav" data-offset="80">
    
    <div class="container-fluid" id="banner"></div>

    

    <div class="container-xl">
      <div class="row">
          

</div>


          


          
<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part2/chapter13/sub-chapter1.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="looking-backwards">
<h1><span class="section-number">13.1. </span>Looking Backwards<a class="headerlink" href="#looking-backwards" title="Permalink to this headline">¶</a></h1>
<p>Figure 13.1, first seen in Chapter 1, shows the three “crown jewels” on which the material
in this book is based. Each pair of “jewels” forms synergistic bonds that support each other,
as Figure 13.1 shows. In particular, the tools and related services of Rails makes it much
easier to follow the Agile lifecycle. Figure 13.2 shows our oft-repeated Agile iteration, but
this time it is decorated with the tools and services that we use in this book. These 14 tools
and services support <em>both</em> following the Agile lifecycle <em>and</em> developing SaaS apps. Similarly,
Figure 13.3 summarizes the relationship between phases of Plan-and-Document lifecycles and
their Agile equivalents, showing how the techniques described in detail in this book play
similar roles to those in earlier software process models.</p>
<p>Rails is very powerful but has evolved tremendously since version 1.0, which was originally
extracted from a specific application. Indeed, the Web itself evolved from specific details
to more general architectural patterns:</p>
<ul class="simple">
<li><p>From static documents in 1990 to dynamic content by 1995;</p></li>
<li><p>From opaque URIs in the early 1990s to REST by the early 2000s;</p></li>
<li><p>From session “hacks” (fat URIs, hidden fields, and so on) in the early 1990s to cookies and real sessions by the mid 1990s; and</p></li>
<li><p>From setting up and administering your own ad-hoc servers in 1990 to deployment on “curated” cloud platforms in the 2000s.</p></li>
</ul>
<p>The programming languages Java and Ruby offer another demonstration that good incremental ideas
can be embraced quickly but great radical ideas take time before they are accepted. Java and
Ruby are the same age, both appearing in 1995. Within a few years Java became one of the most
popular programming languages, while Ruby remained primarily of interest to the programming
languages literati. Ruby’s popularity came a decade later with the release of Rails. Ruby and
Rails demonstrate that big ideas in programming languages really can deliver productivity
through extensive software reuse. Comparing Java and its frameworks to Ruby and Rails,
(Stella et al. 2008) and (Ji and Sedano 2011) found factors of 3 to 5 reductions in number
of lines of code, which is one indication of productivity.</p>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="/chapter/13" title="previous page"><span class="section-number">13. </span>Afterword</a>
    <a class='right-next' id="next-link" href="/chapter/13/section/2" title="next page"><span class="section-number">13.2. </span>Looking Forwards</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>


      </div>
    </div>
  
  <script src="esaasbook/app/assets/stylesheets/_static/js/index.1c5a1a01449ed65a7b51.js"></script>

  
  </body>
</html>