
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>8.6. Fixtures and Factories &#8212; saasbook  documentation</title>
    

    
  
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="esaasbook/app/assets/stylesheets/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="esaasbook/app/assets/stylesheets/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.woff2">

    
      

    
    
  <link rel="preload" as="script" href="esaasbook/app/assets/stylesheets/_static/js/index.1c5a1a01449ed65a7b51.js">

    <script data-url_root="../../" id="documentation_options" src="esaasbook/app/assets/stylesheets/_static/documentation_options.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/jquery.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/underscore.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/doctools.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/sphinx-book-theme.12a9622fbb08dcb3a2a40b2c02b83a57.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="8.7. Coverage Concepts and Types of Tests" href="7" />
    <link rel="prev" title="8.5. CHIPS: Intro to RSpec on Rails" href="5" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="docsearch:language" content="en" />
    
  </head>
  <body data-spy="scroll" data-target="#bd-toc-nav" data-offset="80">
    
    <div class="container-fluid" id="banner"></div>

    

    <div class="container-xl">
      <div class="row">
          

</div>


          


          
<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part2/chapter8/sub-chapter6.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="fixtures-and-factories">
<h1><span class="section-number">8.6. </span>Fixtures and Factories<a class="headerlink" href="#fixtures-and-factories" title="Permalink to this headline">¶</a></h1>
<p>Doubles are appropriate when you need a stand-in with a small amount of
functionality to isolate the code under test from its dependencies. But suppose
you were testing a new instance method of class <code class="code docutils literal notranslate"><span class="pre">Movie</span></code> called <code class="code docutils literal notranslate"><span class="pre">name_with_rating</span></code>
that returns a nicely formatted string
showing a movie’s title and rating. Clearly, such a method would have to access the <code class="code docutils literal notranslate"><span class="pre">title</span></code>
and <code class="code docutils literal notranslate"><span class="pre">rating</span></code> attributes of a <code class="code docutils literal notranslate"><span class="pre">Movie</span></code> instance. You could create a double that knows all that
information, and pass that double:</p>
<div class="highlight-ruby notranslate"><div class="highlight"><pre><span></span><span class="n">fake_movie</span> <span class="o">=</span> <span class="n">double</span><span class="p">(</span><span class="s1">&#39;Movie&#39;</span><span class="p">)</span>
<span class="n">allow</span><span class="p">(</span><span class="n">fake_movie</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:title</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="s1">&#39;Casablanca&#39;</span><span class="p">)</span>
<span class="n">allow</span><span class="p">(</span><span class="n">fake_movie</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:rating</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="s1">&#39;PG&#39;</span><span class="p">)</span>
<span class="n">expect</span><span class="p">(</span><span class="n">fake_movie</span><span class="o">.</span><span class="n">name_with_rating</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">eq</span> <span class="s1">&#39;Casablanca (PG)&#39;</span>
</pre></div>
</div>
<p>But since the instance method being tested is part of the <code class="code docutils literal notranslate"><span class="pre">Movie</span></code> class itself, it makes sense
to use a real object here, since this isn’t a case of isolating the test code from collaborator classes.</p>
<p>Where can we get a real Movie instance to use in such a test? Most testing frameworks for
object-oriented languages support the use of <strong>factories</strong>—bits of code (or declarative descriptions
of objects) framework designed to allow quick creation of full-featured objects (rather than
mocks) at testing time. The goal of a factory is to quickly create valid instances of a class
using some default attributes that you can selectively override for testing. For example, if
you were testing some code that allows a user to write a review for a movie, you might need a
valid movie instance to pass to that code. In the above scenario of testing a title-and-rating
formatter, you don’t care what the movie’s release date is, or who directed it; you just need a
movie object that is valid and whose title and rating you do know. So you would ask the factory
to produce a movie instance whose title and rating you specify, but whose other attributes you
don’t care about as long as they are valid values.</p>
<p>You might think this seems like more work than just creating a movie instance directly by
calling its constructor. In our simple example, that may be true. But there are two cases
in which factories really shine. The first is when the object to be created has many attributes
that must be initialized at creation time, even though any particular test case may only care
about the specific values of a few of them. For example, the app that manipulaties <code class="code docutils literal notranslate"><span class="pre">Movie</span></code> objects
may have validations requiring a movie to have a valid release date or other fields meeting
specific criteria, yet the test above doesn’t care about the values of those other fields. In
such cases, you can ask the factory to create an object in which certain attribute values are
specified but others are filled in with valid defaults. The second case is when objects you
need to create have has-many or belongs-to relationships with other objects, as Chapter 5
describes. For example, if a Review belongs to a Movie, and you are creating a set of tests
to check various behaviors of Reviews, you literally cannot create a valid Review instance
without creating a Movie instance for it to belong to, even if the tests you are writing don’t
care about the movie itself. In this case, the Review factory can be configured so that creating
a Review also creates a valid Movie to which it belongs. Again, you can either specify a
particular Movie object you’ve created, or let the factory create one with valid default
values. Then in your test you can simply ask for a Review object to be created, without having
the details of the parent relationship clutter your test code.</p>
<p>The Ruby gem FactoryBot lets you define a factory for any kind of model in your app and
create just the objects you need quickly for each test, selectively overriding only certain
attributes, as Figure 8.8 shows.</p>
<div class="highlight-ruby notranslate"><div class="highlight"><pre><span></span><span class="c1"># spec/factories/movie.rb</span>
<span class="no">FactoryBot</span><span class="o">.</span><span class="n">define</span> <span class="k">do</span>
    <span class="n">factory</span> <span class="ss">:movie</span> <span class="k">do</span>
        <span class="n">title</span> <span class="s1">&#39;A Fake Title&#39;</span> <span class="c1"># default values</span>
        <span class="n">rating</span> <span class="s1">&#39;PG&#39;</span>
        <span class="n">release_date</span> <span class="p">{</span> <span class="mi">10</span><span class="o">.</span><span class="n">years</span><span class="o">.</span><span class="n">ago</span> <span class="p">}</span>
    <span class="k">end</span>
<span class="k">end</span>
</pre></div>
</div>
<div class="highlight-ruby notranslate"><div class="highlight"><pre><span></span><span class="c1"># in spec/models/movie_spec.rb</span>
<span class="n">describe</span> <span class="no">Movie</span> <span class="k">do</span>
    <span class="n">it</span> <span class="s1">&#39;should include rating and year in full name&#39;</span> <span class="k">do</span>
        <span class="c1"># &#39;build&#39; creates but doesn&#39;t save object; &#39;create&#39; also saves it</span>
        <span class="n">movie</span> <span class="o">=</span> <span class="no">FactoryBot</span><span class="o">.</span><span class="n">build</span><span class="p">(</span><span class="ss">:movie</span><span class="p">,</span> <span class="ss">:title</span> <span class="o">=&gt;</span> <span class="s1">&#39;Milk&#39;</span><span class="p">,</span> <span class="ss">:rating</span> <span class="o">=&gt;</span> <span class="s1">&#39;R&#39;</span><span class="p">)</span>
        <span class="n">expect</span><span class="p">(</span><span class="n">movie</span><span class="o">.</span><span class="n">name_with_rating</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">eq</span> <span class="s1">&#39;Milk (R)&#39;</span>
    <span class="k">end</span>
<span class="k">end</span>
</pre></div>
</div>
<p>In database-backed MVC apps, one other source of “real” objects for use in tests is <strong>fixtures</strong>—a
set of objects whose existence is guaranteed and fixed, and can be assumed by all test cases.
The term <em>fixture</em> comes from the manufacturing world: a test fixture is a device that holds
or supports the item under test. Since all state in Rails SaaS apps is kept in the database,
a fixture file defines a set of objects that is automatically loaded into the test database
before
tests are run, so you can use those objects in your tests without first setting them up. Rails
looks for fixtures in a file containing objects expressed in <strong>YAML</strong> (a recursive acronym for
YAML Ain’t Markup Language), as Figure 8.9 shows. Following convention over configuration,
the fixtures for the <code class="code docutils literal notranslate"><span class="pre">Movie</span></code> model are loaded from <code class="code docutils literal notranslate"><span class="pre">spec/fixtures/movies.yml</span></code>, and are available
to your specs via their symbolic names, as Figure 8.9 shows.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span></span><span class="c1"># spec/fixtures/movies.yml</span>
<span class="nt">milk_movie</span><span class="p">:</span>
    <span class="nt">id</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">1</span>
    <span class="nt">title</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">Milk</span>
    <span class="nt">rating</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">R</span>
    <span class="nt">release_date</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">2008-11-26</span>

<span class="nt">documentary_movie</span><span class="p">:</span>
    <span class="nt">id</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">2</span>
    <span class="nt">title</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">Food, Inc.</span>
    <span class="nt">release_date</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">2008-09-07</span>
</pre></div>
</div>
<div class="highlight-ruby notranslate"><div class="highlight"><pre><span></span><span class="c1"># spec/models/movie_spec.rb:</span>

<span class="nb">require</span> <span class="s1">&#39;rails_helper.rb&#39;</span>

<span class="n">describe</span> <span class="no">Movie</span> <span class="k">do</span>
    <span class="n">fixtures</span> <span class="ss">:movies</span>
    <span class="n">it</span> <span class="s1">&#39;includes rating and year in full name&#39;</span> <span class="k">do</span>
        <span class="n">movie</span> <span class="o">=</span> <span class="n">movies</span><span class="p">(</span><span class="ss">:milk_movie</span><span class="p">)</span>
        <span class="n">expect</span><span class="p">(</span><span class="n">movie</span><span class="o">.</span><span class="n">name_with_rating</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">eq</span><span class="p">(</span><span class="s1">&#39;Milk (R)&#39;</span><span class="p">)</span>
    <span class="k">end</span>
<span class="k">end</span>
</pre></div>
</div>
<p>But unless used carefully, fixtures can interfere with tests being <strong>I</strong>ndependent, as every
test now depends implicitly on the fixture state, so changing the fixtures might change
the behavior of tests. In addition, although any given test probably relies on only one or
two fixtures, the union of fixtures required by all tests can become unwieldy. Therefore,
fixtures should be used very sparingly if at all, and primarily for truly fixed data that,
in production, would not be expected to change while the app is running but need to be present
in order for it to work. For example, at deployment time the app might allow setting the
timezone or language in which it operates and storing the preferences in the database, and
many aspects of the app might rely on these values being set to a legal value. Having a
fixture that “hardwires” some values suitable for testing is reasonable in this case. As a
rule of thumb, <em>use factories for kinds of data that normally change while the app is running,
and consider fixtures for data that doesn’t change but must be present for the app to work at all.</em></p>
<p>Whether you use factories or fixtures, the test framework itself (in our case, RSpec) is
responsible for restoring the state of the world to look “pristine” before the next test
case runs, just as with doubles. Specifically, the database is completely erased, and any
fixtures are then reloaded. Doing this <em>test teardown</em> before every single example keeps tests
<strong>I</strong>ndependent.</p>
<p><strong>Self-Check 8.6.1.</strong> <em>Suppose a test suite contains a test that adds a model object to a table
and then expects to find a certain number of model objects in the table as a result. Explain
how the use of fixtures may affect the Independence of the tests in this suite, and how the
use of Factories can remedy this problem.</em></p>
<blockquote>
<div><p>If the fixtures file is ever changed so that the number of items initially populating that
table changes, this test may suddenly start failing because its assumptions about the initial
state of the table no longer hold. In contrast, a factory can be used to quickly create only
those objects needed for each test or example group on demand, so no test needs to depend
on any global “initial state” of the database.</p>
</div></blockquote>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="/chapter/8/section/5" title="previous page"><span class="section-number">8.5. </span>CHIPS: Intro to RSpec on Rails</a>
    <a class='right-next' id="next-link" href="/chapter/8/section/7" title="next page"><span class="section-number">8.7. </span>Coverage Concepts and Types of Tests</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>


      </div>
    </div>
  
  <script src="esaasbook/app/assets/stylesheets/_static/js/index.1c5a1a01449ed65a7b51.js"></script>

  
  </body>
</html>