
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1.4. Software Quality Assurance: Testing &#8212; saasbook  documentation</title>
    

    
  
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="esaasbook/app/assets/stylesheets/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="esaasbook/app/assets/stylesheets/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.woff2">

    
      

    
    
  <link rel="preload" as="script" href="esaasbook/app/assets/stylesheets/_static/js/index.1c5a1a01449ed65a7b51.js">

    <script data-url_root="../../" id="documentation_options" src="esaasbook/app/assets/stylesheets/_static/documentation_options.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/jquery.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/underscore.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/doctools.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/sphinx-book-theme.12a9622fbb08dcb3a2a40b2c02b83a57.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="1.5. Productivity: Conciseness, Synthesis, Reuse, and Tools" href="5" />
    <link rel="prev" title="1.3. Software Development Processes: The Agile Manifesto" href="3" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="docsearch:language" content="en" />
    
  </head>
  <body data-spy="scroll" data-target="#bd-toc-nav" data-offset="80">
    
    <div class="container-fluid" id="banner"></div>

    

    <div class="container-xl">
      <div class="row">
          

</div>


          


          
<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/intro/chapter1/sub-chapter4.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="software-quality-assurance-testing">
<h1><span class="section-number">1.4. </span>Software Quality Assurance: Testing<a class="headerlink" href="#software-quality-assurance-testing" title="Permalink to this headline">¶</a></h1>
<p><em>And the users exclaimed with a laugh and a taunt: “It’s just what we asked for,
but not what we want.”</em></p>
<blockquote>
<div><p>—Anonymous</p>
</div></blockquote>
<p>A standard definition of <strong>quality</strong> for any product is “fitness for use,” which must
provide business value for both the customer and the manufacturer (Juran and Gryna 1998).
For software, quality means both satisfying the customer’s needs—easy to use, gets correct
answers, does not crash, and so on—<em>and</em> being easy for the developer to debug and enhance. <strong>Quality
Assurance (QA)</strong> also comes from manufacturing, and refers to processes and standards that lead
to manufacture of high-quality products and to the introduction of manufacturing processes that
improve quality. Software QA, then, means both ensuring that products under development have high
quality and creating processes and standards in an organization that lead to high quality software.
As we shall see, some Plan-and-Document software processes even use a separate QA team that tests
software quality (Section 8.10).</p>
<p>Determining software quality involves two terms that are commonly interchanged but have subtle distinctions (Boehm 1979):</p>
<p><strong>• Verification</strong>: Did you build the thing <em>right</em>? (Did you meet the specification?)</p>
<p><strong>• Validation</strong>: Did you build the right <em>thing</em>? (Is this what the customer wants? That is, is the specification correct?)</p>
<p>Software prototypes that are the lifeblood of Agile typically help with validation rather than verification, since customers
often change their minds on what they want once they begin to see the product work.</p>
<p>The main approach to verification and validation is <strong>testing</strong>; the motivation for testing is that the earlier developers
find mistakes, the cheaper it is to repair them. Given the vast number of different combinations of inputs, testing
cannot be exhaustive. One way to reduce the space is to perform different tests at different phases of software development.
Starting bottom up, <strong>unit testing</strong> makes sure that a single procedure or method does what was expected. The next level up
is <em>module testing</em>, which tests across individual units. For example, unit testing works within a single class whereas module
testing works across classes. Above this level is <strong>integration testing</strong>, which ensures that the interfaces between the units have
consistent assumptions and communicate correctly. This level does not test the functionality of the units. At the top level is
<strong>system testing</strong> or <strong>acceptance testing</strong>, which tests to see if the integrated program meets its specifications. In Chapter 8, we’ll
describe an alternative to testing, called <strong>formal methods</strong>.</p>
<p>As mentioned briefly in Section 1.3, the approach to testing for the XP version of Agile is to write the tests <em>before</em> you write the
code. You then write the minimum code you need to pass the test, which ensures that your code is always tested and reduces the chances
of writing code that will be later discarded. XP splits this test-first philosophy into two parts, depending on the level of the testing.
For system, acceptance, and integration tests, XP uses <em>Behavior-Driven Design (BDD)</em>, which is the topic of Chapter 7. For unit and module
tests, XP uses <em>Test-Driven Development (TDD)</em>, which is the topic of Chapter 8.</p>
<p><strong>Self-Check 1.4.1.</strong> <em>While all of the following help with verification, which form of testing is most likely to help with validation:
Unit, Module, Integration, or Acceptance?</em></p>
<blockquote>
<div><p>Validation is concerned with doing what the customer really wants versus whether code met the specification, so acceptance testing is most
likely to point out the difference between doing the thing right and doing the right thing.</p>
</div></blockquote>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="/chapter/1/section/3" title="previous page"><span class="section-number">1.3. </span>Software Development Processes: The Agile Manifesto</a>
    <a class='right-next' id="next-link" href="/chapter/1/section/5" title="next page"><span class="section-number">1.5. </span>Productivity: Conciseness, Synthesis, Reuse, and Tools</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>


      </div>
    </div>
  
  <script src="esaasbook/app/assets/stylesheets/_static/js/index.1c5a1a01449ed65a7b51.js"></script>

  
  </body>
</html>