
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>4.11. Concluding Remarks: Rails as a Service Framework &#8212; saasbook  documentation</title>
    

    
  
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="esaasbook/app/assets/stylesheets/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="esaasbook/app/assets/stylesheets/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.woff2">

    
      

    
    
  <link rel="preload" as="script" href="esaasbook/app/assets/stylesheets/_static/js/index.1c5a1a01449ed65a7b51.js">

    <script data-url_root="../../" id="documentation_options" src="esaasbook/app/assets/stylesheets/_static/documentation_options.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/jquery.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/underscore.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/doctools.js"></script>
    <script src="esaasbook/app/assets/stylesheets/_static/sphinx-book-theme.12a9622fbb08dcb3a2a40b2c02b83a57.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="5. SaaS Framework: Advanced Programming Abstractions for SaaS" href="../../../chapter/5" />
    <link rel="prev" title="4.10. Fallacies and Pitfalls" href="10" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="docsearch:language" content="en" />
    
  </head>
  <body data-spy="scroll" data-target="#bd-toc-nav" data-offset="80">
    
    <div class="container-fluid" id="banner"></div>

    

    <div class="container-xl">
      <div class="row">
          

</div>


          


          
<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part1/chapter4/sub-chapter11.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="concluding-remarks-rails-as-a-service-framework">
<h1><span class="section-number">4.11. </span>Concluding Remarks: Rails as a Service Framework<a class="headerlink" href="#concluding-remarks-rails-as-a-service-framework" title="Permalink to this headline">¶</a></h1>
<p>The introduction to Rails in this chapter may seem to introduce a lot of very general machinery to handle
a fairly simple and specific task: implementing a Web-based UI to CRUD actions. However, we will see in
Chapter 5 that this solid groundwork will position us to appreciate the more advanced mechanisms that will
let you truly DRY out and beautify your Rails apps. For example, adapting your app into an API-based service
or microservice is much easier if the app mostly follows the structure of a collection of resources supporting
the CRUD actions and perhaps some others. Controller actions such as <code class="code docutils literal notranslate"><span class="pre">index</span></code> and <code class="code docutils literal notranslate"><span class="pre">show</span></code> would need few changes
to emit a JSON representation of an object instead of displaying an HTML representation. The <code class="code docutils literal notranslate"><span class="pre">new</span></code> action wouldn’t
need to be adapted at all: it’s only there so that the human user can fill in the values that will be used for
<code class="code docutils literal notranslate"><span class="pre">create</span></code>, so an API wouldn’t need to provide any version of it. Similarly, in an API-based service, create and
update could simply return a JSON representation of the created or updated object, or even the created object’s
ID, rather than redirecting back to some other view.</p>
<p>Thus, as with many tools we will use in this book, the initial learning curve to do a simple task may seem a bit steep,
but you will quickly reap the rewards by using this strong foundation to add new functionality and features quickly and
concisely.</p>
<p>That said, Rails is an opinionated framework, and over the years it has been critiqued for being too large, too complex,
and employing too much “magic” to make things work, such as
the trick of how instance variables set by controller actions are available to the view, despite the view and controller
not sharing any ancestor class and not really being “instances” of any- thing in any meaningful way. Over the years,
modules have been extracted from Rails, more attention has been given to making controllers API-friendly, and many parts
of ActiveRecord have been extracted into separate modules that can be mixed in or used without ActiveRecord and even
without Rails. In fact, Rails itself was originally extracted from a standalone app written by the consulting group 37signals.</p>
<p>To understand the architecture of a software system is to understand its organizing prin- ciples. In Chapter 3 we identified
the client-server pattern and the REST API pattern as dom- inant characteristics of SaaS. In this chapter we identified
model-view-controller and Active Record as organizational patterns within the boundary of a software artifact. Such patterns
are a powerful way to manage complexity in large software systems; we will have much more to say about them in Chapter 11.
For now, we observe that by choosing to build a SaaS app, we have predetermined the use of some patterns and excluded
others. By choosing to use Web standards, we have predetermined a client-server system; by choosing cloud computing, we
have predetermined the 3-tier architecture to permit horizontal scaling. Model–View– Controller is not predetermined, but we
choose it because it is a good fit for Web apps that are view-centric and have historically relied on a persistence tier,
notwithstanding other possible patterns such as those in Figure 4.1. REST is not predetermined, but we choose it because it
simplifies integration into a Service-Oriented Architecture and can be readily applied to the CRUD operations, which are so
common in MVC apps. Active Record is perhaps more controversial—as we will see in Sections 5.8 and 12.7, its powerful
facilities simplify apps considerably, but misusing those facilities can lead to scalability and performance problems that
are less likely to occur with simpler persistence models.</p>
<p>A good framework should also be closely wedded to the language in which it’s imple- mented: the framework should not only
provide a well-defined abstraction for the applica- tion’s architecture, but also use the language’s features to support
those abstractions. For example, Rails uses Ruby’s introspection and metaprogramming to provide an elegant implementation
of both the Model–View–Controller application architecture and the Active Record design pattern for storing model data. And
not all server-side or client-side stacks are application frameworks: while Node.js provides some low-level abstractions
for <strong>event-driven programming</strong> (about which we will have much more to say in Chapter 6), it provides no abstractions for any
particular architectural pattern on which one might want to base an application.</p>
<p>If we were building a SaaS app in 1995, none of the above would have been obvious because practitioners had not accumulated
enough examples of successful SaaS apps to “extract” successful patterns into frameworks like Rails, software components
like Apache, and middleware like Rack. By following the successful footsteps of software architects before us, we can take
advantage of their ability to <em>separate the things that change from those that stay the same</em> across many examples of SaaS and
provide tools, frameworks, and design principles that support building things this way. As we mentioned earlier, this
separation is key to enabling reuse.</p>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="/chapter/4/section/10" title="previous page"><span class="section-number">4.10. </span>Fallacies and Pitfalls</a>
    <a class='right-next' id="next-link" href="/chapter/5" title="next page"><span class="section-number">5. </span>SaaS Framework: Advanced Programming Abstractions for SaaS</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>


      </div>
    </div>
  
  <script src="esaasbook/app/assets/stylesheets/_static/js/index.1c5a1a01449ed65a7b51.js"></script>

  
  </body>
</html>