
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agile Software Development &#8212; saasbook  documentation</title>
    

    
  
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="../_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="../_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.woff2">

    
      

    
    
  <link rel="preload" as="script" href="../_static/js/index.1c5a1a01449ed65a7b51.js">

    <script data-url_root="../" id="documentation_options" src="../_static/documentation_options.js"></script>
    <script src="../_static/jquery.js"></script>
    <script src="../_static/underscore.js"></script>
    <script src="../_static/doctools.js"></script>
    <script src="../_static/sphinx-book-theme.12a9622fbb08dcb3a2a40b2c02b83a57.js"></script>
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="docsearch:language" content="en" />
    
  </head>
  <body data-spy="scroll" data-target="#bd-toc-nav" data-offset="80">
    
    <div class="container-fluid" id="banner"></div>

    

    <div class="container-xl">
      <div class="row">
          

</div>


          


          
<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../_sources/part2/index.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="agile-software-development">
<h1>Agile Software Development<a class="headerlink" href="#agile-software-development" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="/chapter/7">7. Requirements: BDD and User Stories</a><ul>
<li class="toctree-l2"><a class="reference internal" href="/chapter/7/section/1">7.1. Behavior-Driven Design and User Stories</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/7/section/2">7.2. SMART User Stories</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/7/section/3">7.3. Lo-Fi User Interface Sketches and Storyboards</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/7/section/4">7.4. Points and Velocity</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/7/section/5">7.5. Agile Cost Estimation</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/7/section/6">7.6. Cucumber: From User Stories to Acceptance Tests</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/7/section/7">7.7. CHIPS: Intro to BDD and Cucumber</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/7/section/8">7.8. Explicit vs. Implicit and Imperative vs. Declarative Scenarios</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/7/section/9">7.9. The Plan-And-Document Perspective on Documentation</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/7/section/10">7.10. Fallacies and Pitfalls</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/7/section/11">7.11. Concluding Remarks: Pros and Cons of BDD</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/chapter/8">8. Testing: Test-Driven Development</a><ul>
<li class="toctree-l2"><a class="reference internal" href="/chapter/8/section/1">8.1. FIRST, TDD, and Red–Green–Refactor</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/8/section/2">8.2. Anatomy of a Test Case: Arrange, Act, Assert</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/8/section/3">8.3. Isolating Code: Doubles and Seams</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/8/section/4">8.4. Stubbing the Internet</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/8/section/5">8.5. CHIPS: Intro to RSpec on Rails</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/8/section/6">8.6. Fixtures and Factories</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/8/section/7">8.7. Coverage Concepts and Types of Tests</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/8/section/8">8.8. Other Testing Approaches and Terminology</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/8/section/9">8.9. CHIPS:The Acceptance Test/Unit Test Cycle</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/8/section/10">8.10. The Plan-And-Document Perspective on Testing</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/8/section/11">8.11. Fallacies and Pitfalls</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/8/section/12">8.12. Concluding Remarks: TDD vs. Conventional Debugging</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/chapter/9">9. Software Maintenance: Enhancing Legacy Software Using Refactoring and Agile Methods</a><ul>
<li class="toctree-l2"><a class="reference internal" href="/chapter/9/section/1">9.1. What Makes Code “Legacy” and How Can Agile Help?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/9/section/2">9.2. Exploring a Legacy Codebase</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/9/section/3">9.3. Establishing Ground Truth With Characterization Tests</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/9/section/4">9.4. Comments and Commits: Documenting Code</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/9/section/5">9.5. Metrics, CodeSmells, and SOFA</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/9/section/6">9.6. Method-Level Refactoring: Replacing Dependencies With Seams</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/9/section/7">9.7. The Plan-And-Document Perspective on Working With Legacy Code</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/9/section/8">9.8. Fallacies and Pitfalls</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/9/section/9">9.9. Concluding Remarks: Continuous Refactoring</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/chapter/10">10. Agile Teams</a><ul>
<li class="toctree-l2"><a class="reference internal" href="/chapter/10/section/1">10.1. It Takes a Team: Two-Pizza and Scrum</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/10/section/2">10.2. Using Branches Effectively</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/10/section/3">10.3. Pull Requests and Code Reviews</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/10/section/4">10.4. Delivering the Backlog Using Continuous Integration</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/10/section/5">10.5. CHIPS: Agile Iterations</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/10/section/6">10.6. Reporting and Fixing Bugs: The Five R’s</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/10/section/7">10.7. The Plan-And-Document Perspective on Managing Teams</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/10/section/8">10.8. Fallacies and Pitfalls</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/10/section/9">10.9. Concluding Remarks: From Solo Developer to Teams of Teams</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/chapter/11">11. Design Patterns for SaaS Apps</a><ul>
<li class="toctree-l2"><a class="reference internal" href="/chapter/11/section/1">11.1. Patterns, Antipatterns, and SOLID Class Architecture</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/11/section/2">11.2. Just Enough UML</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/11/section/3">11.3. Single Responsibility Principle</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/11/section/4">11.4. Open/Closed Principle</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/11/section/5">11.5. Liskov Substitution Principle</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/11/section/6">11.6. Dependency Injection Principle</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/11/section/7">11.7. Demeter Principle</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/11/section/8">11.8. The Plan-And-Document Perspective on Design Patterns</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/11/section/9">11.9. Fallacies and Pitfalls</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/11/section/10">11.10. Concluding Remarks: Frameworks Capture Design Patterns</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/chapter/12">12. Dev/Ops</a><ul>
<li class="toctree-l2"><a class="reference internal" href="/chapter/12/section/1">12.1. From Development to Deployment</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/12/section/2">12.2. Three-Tier Architecture</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/12/section/3">12.3. Responsiveness, Service Level Objectives, and Apdex</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/12/section/4">12.4. Releases and Feature Flags</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/12/section/5">12.5. Monitoring and Finding Bottlenecks</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/12/section/6">12.6. Improving Rendering and Database Performance With Caching</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/12/section/7">12.7. Avoiding Abusive Database Queries</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/12/section/8">12.8. CHIPS: Exploiting Caching and Indices</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/12/section/9">12.9. Security: Defending Customer Data in Your App</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/12/section/10">12.10. The Plan-And-Document Perspective on Operations</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/12/section/11">12.11. Fallacies and Pitfalls</a></li>
<li class="toctree-l2"><a class="reference internal" href="/chapter/12/section/12">12.12. Concluding Remarks: Beyond PaaS Basics</a></li>
</ul>
</li>
</ul>
</div>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>


      </div>
    </div>
  
  <script src="../_static/js/index.1c5a1a01449ed65a7b51.js"></script>

  
  </body>
</html>