.myCustomHighlight {
    background-color: lime !important;
    color: red;
}

.highlight_button {
    padding: 2px;
    width: 120px;
}

.yellow-highlight {
    background-color: #ffff80 !important;
    color: black;
}
.green-highlight {
    background-color: #8cff32 !important;
    color: black;
}
.blue-highlight {
    background-color: #add8e6 !important;
    color: black;
}

.dropdown-menu {
    transform: translate(0px, 36px) !important;
}

#highlight-button {
    margin-right: 0px;
}

#highlight-toggle {
    margin-left: 0px;
}