.user-page-container {  display: grid;
  grid-template-columns: 0.8fr 1.3fr 0.5fr 1.8fr 1.4fr 0.4fr 0.8fr;
  grid-template-rows: 0.4fr 0.2fr 0.4fr 0.8fr 3.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . ."
    ". . . . . signout-button ."
    ". avatar . username . . ."
    ". avatar . . . . ."
    ". . . . . . .";
}

.signout-button { grid-area: signout-button; }

.avatar { grid-area: avatar; }

.username { grid-area: username; }
