<footer class="footer mt-5 mt-md-0">
    <div class="container">
        <p>
      
        By sme777<br/>
      
          &copy; Copyright 2022, Armando Fox and David Patterson.<br/>
        </p>
    </div>
</footer>