<!DOCTYPE html>
<html>
  <head>
    <!-- Replace this for google site verfication -->
        <meta name="google-site-verification" content="6B9ZOyd6WkSed1cbELjRthn6RSa6RlwRt5edN1_sndk" />
    <title>Esaasbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
